<div class="container-fluid filter-modal">
	<div class="row">
	<p class="close-icon" ng-click="cancel()"><a><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg></a>

    </p>
</div>
    <div class="row head-text">
	<div class="col-xs-6 col-sm-6">
		<h3>Filter</h3>
	</div>
	<div class="col-xs-6 col-sm-6">
		<button class="clearAll">Clear All</button>
	</div>
    </div>
    <div class="row filter-selections">

    		<div class="owl-carousel owl-theme" id="owl-carousel-selected-cat-mobile">
			<div class="owl-carousel-item">
				<p class="selection-name">Perennials</p> 
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
			
			</div>
			<div class="owl-carousel-item">
				<p class="selection-name">Garden Perinnals </p>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
				
			</div>
			<div class="owl-carousel-item">
				<p class="selection-name">Achillea</p>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
			
			</div>
			<div class="owl-carousel-item">
				<p class="selection-name">$80.00-$280.00</p> 
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
				
			</div>
			<div class="owl-carousel-item">
				<p class="selection-name">$80.00-$280.00 </p>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
				
			</div>
			<div class="owl-carousel-item">
				<p class="selection-name">$80.00-$280.00 </p>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;" xml:space="preserve"><g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect></g><g><rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6"></rect></g></g></svg>
				
			</div>
			</div>
    </div>

    <div class="row filter-section-mobile">
    	<uib-accordion close-others="oneAtATime">
				<uib-accordion-group ng-init="status.open1 = true" is-open="status.open1">
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Category
					</uib-accordion-heading>
					<div class="">
					<ul>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Anuals<label>(<span>2456</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox" checked="checked">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Perennials<label>(<span>656</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Vines<label>(<span>4356</span>)</label></label>
						</li>															
					</ul>
								
					
					</div>
					</uib-accordion-group>
				<uib-accordion-group ng-init="status.open2 = true" is-open="status.open2">
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Type
					</uib-accordion-heading>
					<div class="">
					<ul>
						<li>
							<div class="Checkbox">
            					<input type="checkbox" checked="checked">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Garden Perennials<label>(<span>6533</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Vines<label>(<span>944</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>GroundCovers<label>(<span>1668</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Natives<label>(<span>854</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Waterplants<label>(<span>5784</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Others<label>(<span>12356</span>)</label></label>
						</li>															
					</ul>
								
					
					</div>
					</uib-accordion-group>
					
					<uib-accordion-group ng-init="status.open3 = true" is-open="status.open3">
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Plant
					</uib-accordion-heading>
					<div class="">
					<ul>
						<li>
							<div class="Checkbox">
            					<input type="checkbox" checked="checked">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Achillea<label>(<span>8493</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Aquilegia<label>(<span>1485</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Aster<label>(<span>4233</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Astilbe<label>(<span>3385</span>)</label></label>
						</li>	
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Campanula<label>(<span>6374</span>)</label></label>
						</li>
						<li>
							<div class="Checkbox">
            					<input type="checkbox">
            					<div class="Checkbox-visible"></div>
       						</div>
       						<label>Coreopsis<label>(<span>1543</span>)</label></label>
						</li>																
					</ul>
								
					
					</div>
					</uib-accordion-group>
					<uib-accordion-group ng-init="status.open4 = true" is-open="status.open4">
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Price
					</uib-accordion-heading>
					<div class="">
					
						<!-- <input id="price-slider" type ="range" min ="20.99" max="319.00" step ="1"/> -->		
					<input type="hidden" class="slider-input range-slider slider" value="23" />

					</div>
					</uib-accordion-group>
					<uib-accordion-group ng-init="status.open5 = true" is-open="status.open5">
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Color
					</uib-accordion-heading>
					<div class="">
					
					<a href="" class="btn btn-circle-micro btn-primary"></a>
					<a href="" class="btn btn-circle-micro btn-success"></a>
					<a href="" class="btn btn-circle-micro btn-warning"></a>
					<a href="" class="btn btn-circle-micro btn-info"></a>
					<a href="" class="btn btn-circle-micro btn-default"></a>	
					<a href="" class="btn btn-circle-micro btn-primary"></a>
					<a href="" class="btn btn-circle-micro btn-success"></a>
					<a href="" class="btn btn-circle-micro btn-warning"></a>
					<a href="" class="btn btn-circle-micro btn-info"></a>
					<a href="" class="btn btn-circle-micro btn-default"></a>	
					<a href="" class="btn btn-circle-micro btn-primary"></a>
					<a href="" class="btn btn-circle-micro btn-success"></a>
					<a href="" class="btn btn-circle-micro btn-warning"></a>
					<a href="" class="btn btn-circle-micro btn-info"></a>
					<a href="" class="btn btn-circle-micro btn-default"></a>
					<a href="" class="btn btn-circle-micro btn-warning"></a>
					<a href="" class="btn btn-circle-micro btn-info"></a>
					<a href="" class="btn btn-circle-micro btn-default"></a>			
					
					</div>
					</uib-accordion-group>
					<uib-accordion-group>
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Florem Ipsum
					</uib-accordion-heading>
					<div class="">
						Florem Ipsum	
					
					</div>
					</uib-accordion-group>
					<uib-accordion-group>
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Calalilly Florem
					</uib-accordion-heading>
					<div class="">
						Calalilly Florem	
					
					</div>
					</uib-accordion-group>
					<uib-accordion-group>
					<uib-accordion-heading>
						<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
						<g>
	<rect x="10"  width="4" height="24"/>
	<rect y="10"  width="24" height="4"/>
</g>
	
								
						</svg>
						<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
						<rect y="10"  width="50" height="4"/>
						
						</svg>
						Ipsum Florem
					</uib-accordion-heading>
					<div class="">
						Ipsum Florem	
					
					</div>
					</uib-accordion-group>

				</uib-accordion>

    </div>
    <div class="row apply-filter">

    	<button class="btn btn-block">APPLY FILTERS</button>
    </div>
</div>