<div class="container-fluid my-account-email-subscription">
    <div class="Email-Preferences-container">
        <p class="my-account-content-title">Email Preferences
			<span class="bachman-chevron hidden-md hidden-lg chevron bottom"></span>
		</p>
        <div class="email-subscription-container">
            <div class="email-header">Email Subscriptions</div>
            <div class="email-lists">
          
                    <div class="Checkbox">
                        <input type="checkbox" checked="">
                        <div class="Checkbox-visible"></div>
                         <label>Sales and Promotions Newsletter</label>
                    </div>
                
                  
                    <div class="Checkbox">
                        <input type="checkbox" checked="">
                        <div class="Checkbox-visible"></div>
                         <label>Events Newsletter</label>
                    </div>
          
                    <div class="Checkbox">
                        <input type="checkbox" checked="">
                        <div class="Checkbox-visible"></div>
                         <label>Subscribe to Perple Perks Membership</label>
                    </div>
           
              
                    <div class="Checkbox checkboxopacity">
                        <input type="checkbox" checked="">
                        <div class="Checkbox-visible"></div>
                         <label>Beautiful Living Newsletter</label>
                    </div>
              
            </div>
            <div class="save-button">
            	<button>save</button>
            </div>
        </div>
    </div>
</div>
