<div class="container-fluid my-account-purple-perks">
	<div class="">
		<p class="my-account-content-title">Purple Perks
			<span class="bachman-chevron hidden-md hidden-lg chevron bottom"></span>
		</p>
		<div class="purple-perks-container">
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{account.Perpelperk[0].PointsEarned}}</p>
				<p class="purple-perk-description text-center">Points earned today will be reflected within 24hours</p>
			</div>
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">${{account.Perpelperk[0].EarnedToDate}}</p>
				<p class="purple-perk-description text-center">Purple Perks Dollars Available</p>
			</div>
			<p class="purple-perks-disclaimer">You can use these Purple Perks Dollars at the time of checkout for discount</p>
		</div>
	</div>
</div>