<div class="container-fluid main-container" >
	<!-- <header class="jumbotron text-center ">	
		<h2 ng-bind="application.name"></h2>
	</header> -->
	<div class="owl-carousel" id="owl-carousel-banner">
		<div class="promo-banner promo-main-banner item" ng-repeat="heroBanner in home.heroBanners track by $index">
			<img class="desktop-img" src="{{heroBanner.contentUrl}}"/>
			<img class="mobile-img" src="{{home.heroBanners_mobile[$index]}}"/>
			<div class="promo-banner-txt">
				<h1>{{heroBanner.title}}</h1>
				<p>{{heroBanner.description}}</p>
				<button>buy now</button>
			</div>
		</div>
	</div>
	<div class="home-category row">
		<div class=" " ng-repeat="quicklink in home.quicklinks" ng-style="{'width':100/home.quicklinks.length+'%'}">
			<span ng-include="quicklink"></span>
			<a ng-bind-html="home.title[$index]"></a>
		</div>
	</div>
	<div class="promo-banner promo-banner-top row">
		<img class="desktop-img" src="{{home.topPromo}}"/>
		<!-- <img class="mobile-img" src="{{home.topPromo}}"/> -->
		<img class="mobile-img" src="assets/images/mobile/home/Promotion_Image.png"/>
		<div class="promo-banner-txt">
			<!-- <h1>On Sale This Week</h1>
			<p>Get great regular deals on floral, home, and garden needs.</p> 
			<button class="promo-button">25% OFF SUCCULENTS</button> -->
			<h1>{{home.topPromoTitle}}</h1>
			<p>{{home.topPromoDescription}}</p>
			<button class="promo-button">{{home.topPromoBtnTxt}}</button>
		</div>
	</div>
	<div class="row banner-rewards">
		<div class="promo-banner-main col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="promo-banner promo-banner-left">
				<img class="desktop-img" src="{{home.leftPromo}}"/>
				<img class="mobile-img" src="{{home.leftPromo}}"/>
				<!-- <img class="mobile-img" src="assets/images/mobile/home/home_promo.png"/> -->
				<div class="promo-banner-txt">
					<!-- <h1>Don’t Forget Mom! :)</h1>
					<button>Shop Mother’s Day Gifts</button> -->
					<h1>{{home.leftPromoTitle}}</h1>
					<button>{{home.leftPromoBtnTxt}}</button>
				</div>
			</div>
		</div>
		<div class="rewards-txt-main col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="rewards-txt">
				<div class="rewards-txt-up p0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="perple-perks-logo col-xs-5 col-sm-4 col-md-5 col-lg-5">
						<!-- <img class="desktop-img" src="{{home.rightPromo}}" />
						<img class="mobile-img" src="{{home.rightPromo}}" /> -->
						<span ng-include="home.ppSvg"></span>
						<!-- <img class="mobile-img" src="assets/images/mobile/home/perple-perks-logo.png" /> -->
					</div>
					<div class="p0 col-xs-7 col-sm-8 col-md-7 col-lg-7 taCenter">
						<h5>{{home.ppSvgTitle}}</h5>
						<h2>{{home.ppSvgDescription}}</h2>
						<button class="promo-button">{{home.ppSvgBtnTxt}}</button>
						<!-- <h5>Get Free Rewards with</h5>
						<h2>Purple Perks</h2>
						<button class="promo-button">Register Now</button> -->
					</div>
				</div>
				<div class="rewards-txt-down p0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div ng-include="home.ppText"></div>
					<!-- <p>Purple Perks Benefits:</p>
					<ul>
						<li>Earn $5 for every $200 spent during earn periods</li>
						<li>Receive a Monthly “Beautiful Living” e-newsletter</li>
						<li>Extended two-year warranty on trees, shrubs, evergreens, shrub roses, and hardy perennials</li>
						<li>Exclusive products, sales and event invitations! </li>
					</ul> -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row masnrydiv" >		
	<div class="grid repeatable-blocks" style="width:100%;">
		<div class="grid-item-width2 grid-item">
			<div><img src="assets/images/desktop/home/grid6.png" /></div>
			<div class="promo-banner-txt promo-banner-txt-left">		
				<h1>Backyard Inspiration</h1>		
				<p>Florem ipsum lily of the valley sunflower dill goosefoot, orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>		
				<button>SHOP HARDSCAPES</button>		
			</div>		
		</div>				
		<div class="grid-sizer"></div>		
		<div class="grid-item">		
			<div>		
				<img class="desktop-img" src="assets/images/desktop/home/grid6.png" />		
				<img class="mobile-img" src="assets/images/desktop/home/grid6.png" />		
			</div>		
		</div>		
		<div class="grid-item">		
			<div>		
				<img class="desktop-img" src="assets/images/desktop/home/grid6.png" />		
				<img class="mobile-img" src="assets/images/desktop/home/grid6.png" />		
			</div>		
		</div>		
		<div class="grid-item-width2 grid-item">		
			<div>		
				<img class="desktop-img" src="assets/images/desktop/home/grid6.png" />		
				<img class="mobile-img" src="assets/images/desktop/home/grid6.png" />		
			</div>		
		</div>		
		<div class="grid-item">		
			<div>		
				<img class="desktop-img" src="assets/images/desktop/home/grid6.png" />		
				<img class="mobile-img" src="assets/images/desktop/home/grid6.png" />		
			</div>		
		</div>		
		<div class="grid-item">		
			<div>		
				<img class="desktop-img" src="assets/images/desktop/home/grid6.png" />		
				<img class="mobile-img" src="assets/images/desktop/home/grid6.png" />		
			</div>		
		</div>		
	</div>		
	</div>	 -->	
	
	<!-- static masonry arrangement -->
	<div class="row masnrydiv" >		
		<div class="grid repeatable-blocks" style="width:100%;">
			<div class="grid-item">
				<div>
					<img class="desktop-img" src="{{home.topGridImg}}" />
					<img class="mobile-img" src="{{home.topGridImg}}" />
					<div class="promo-banner-txt promo-banner-txt-left">		
						<h1>{{home.topGridTitle}}</h1>		
						<p>{{home.topGridDescription}}</p>		
						<button>{{home.topGridBtnTxt}}</button>	
						<!-- <h1>Backyard Inspiration</h1>		
						<p>Florem ipsum lily of the valley sunflower dill goosefoot, orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>		
						<button>SHOP HARDSCAPES</button> -->	
					</div>		
				</div>
			</div>				
			<div class="grid-item" ng-repeat="gridimg in home.gridImgs" ng-if="$index > 0">		
				<div>		
					<img class="desktop-img" src="{{gridimg}}" />		
					<img class="mobile-img" src="{{gridimg}}" />		
				</div>		
			</div>		
		
			
				
		</div>
	</div>	
	<div style="clear:both"></div>
	<div class="events-slider-home">
		<div class="events-promo row">
			<div class="events-promo-sub1 col-xs-12 col-sm-12 col-md-7 col-lg-7"><h1>Workshops & Events</h1><h2>Create your own arrangements, get inspired by the ideas house & more great events</h2></div>
			<div class="events-promo-sub2 col-xs-12 col-sm-12 col-md-5 col-lg-5"><button class="promo-button" ui-sref="category({parentId:categories.ID,childCount:'2',ID:'c10'})" >View All Workshops & Events</button></div>
		</div>
		<div class="events-slider-cont">
			<div class="events-slider owl-carousel" id="owl-carousel-events">
				<div class="events-slider-block events-slider-block-w" ng-repeat="event in home.eventsList" >
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="../../assets/images/desktop/home/Workshops-&-Events-Thumbnail.png"/>
						<img class="mobile-img" src="assets/images/mobile/home/plant.png" />
					</div>
					<div class="events-desc">
						<h2>{{event.Name}}</h2>
						<p>{{event.Description}}</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class="">
								<button class="event-register">Register Now</button>
								<div class="event-time">
									<span class="events-countdown">	
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
											<circle cx="29.3" cy="32.7" r="25"/>
											<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
											<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
											<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
											<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
											<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
										</svg>
									</span>
									{{event.xp.slot}}<span class="events-cost" ng-repeat="pricelist in event.StandardPriceSchedule.PriceBreaks">{{pricelist.Price | currency}}</span>
								</div>
								
							</div>
						</div>
						<!-- <p>Come in from the cold and enjoy an indoors farmers' market! Local growers, craftsmen, and food artisans from Fulton, Kingfield, and Nokomis farmers' markets will have produce, breads, meats, cheeses, canned goods, and beautiful handmade items for sale.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div> -->
					</div>
				</div>
				<div class="events-slider-block events-slider-block-w" >
					<div class="p0 m0 events-promo"></div>
					<div class="events-desc">
						<h2></h2>
						<p></p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown"></span>
							<span class="events-cost" ></span></div><button class="event-register">Register Now</button></div>
						</div>
					</div>
				</div>
				<!-- <div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Terrarium Design Workshop</h2>
						<p>Terrariums are unique ecosystems, constructed in a clear glass container. Natural elements meet creative aesthetics, to bring an alluring environment to life.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">20<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 PM – 4:00 PM <span class="events-cost">$50.00</span></div><button class="event-register">Register Now</button></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Terrarium.jpg" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-woi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="" />
						<img class="mobile-img" src="" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Free to Attend</span></div></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="services-offered">
		<h1>Explore Our Services</h1>
		<uib-tabset justified="true">
			<uib-tab select="home.alertMe($index)" ng-repeat="service in base.services" heading="{{service.title}}">
				<div class="promo-banner row"> 
					<img class="desktop-img" src="{{service.contentUrl}}"/>
					<img class="mobile-img" src="{{base.services_mobile[$index]}}" />
					<!-- <img class="mobile-img" src="assets/images/mobile/home/Explore_Banner_1.png" /> -->
					<div class="promo-banner-txt promo-banner-txt-left">
						<div class="fl">
							<p>{{service.description}}</p>
						</div>
						<!-- <button class="fr promo-button">Schedule a Consult Today</button> -->
						<button class="fr promo-button">{{service.author}}</button>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
	<div class="pdt-carousel">
	 <h1>Featured Products</h1>
		<div class="owl-carousel owl-pdt-carousel"  id="owl-pdt-carousel">	
			<div class="pdt-carousel-cont" ng-repeat="featuredProduct in home.featuredProducts">
				<div class="pdt-carousel-image">
					<img class="desktop-img" src="{{featuredProduct.imgContent.contentUrl}}" id="item-1" />
					<img class="mobile-img" src="{{featuredProduct.imgContent.contentUrl}}" />
					<!-- <img class="mobile-img" src="assets/images/mobile/home/featuredProd1.png" /> -->
				</div>
				<div class="pdt-carousel-desc-cont">
					<!-- <div class="pdt-carousel-promo">Outdoor Living & Decor</div> -->
					<div class="pdt-carousel-desc">
						<div><p>{{featuredProduct.Name}}</p></div>
						<p class="pdt-carousel-price" ng-repeat="pricelist in featuredProduct.StandardPriceSchedule.PriceBreaks">{{pricelist.Price | currency}}</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALTY BASKETS</h6>
			</div>
			<!-- <div class="pdt-carousel-cont">
				<img src="assets/images/pdt3.png" id="item-2" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$2,499.00 - $2,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt1.png" id="item-3" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$3,499.00 - $3,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt3.png" id="item-4" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$4,499.00 - $4,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt1.png" id="item-5" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$5,499.00 - $5,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt3.png" id="item-6" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$6,499.00 - $6,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt1.png" id="item-7" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$7,499.00 - $7,499.00</p>
						<button>BUY NOW</button>
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div>
			<div class="pdt-carousel-cont">
				<img src="assets/images/pdt3.png" id="item-8" />
				<div class="pdt-carousel-desc-cont">
					<div class="pdt-carousel-desc">
						<p>Manhattan 7PC Rectangle</p>
						<p>Dining Set</p>
						<p class="pdt-carousel-price">$8,499.00 - $8,499.00</p>
						<button>BUY NOW</button>	
					</div>
				</div>
				<h6><span>nationwide shipping</span>FLOWERS & SPECIALITY BASKETS</h6>
			</div> -->
		</div>
	</div>
</div>