<article id="COMPONENT_AlgoliaSearchResults" class="container-fluid algolia-search-results" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}" > 
    <h1>Search Results for <span>"Red"</span></h1>
    <uib-tabset active="algoliaSearchResults.activeTab" class="count-container">
        <uib-tab ng-click="algoliaSearchResults.toggleTab(0)" class="products-count">
            <uib-tab-heading>
              <span>Products</span><span> ({{algoliaSearchResults.ProductResults.nbHits}} results)</span>
            </uib-tab-heading>
            <div class="row results-nav hidden-xs hidden-sm">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="results-selections">
                        <span>Your Selection</span>
                        <span class="results-selection" ng-repeat="selection in algoliaSearchResults.Selections">{{selection}}
                            <a>
                                <svg version="1.1" ng-click="plp.togglFaceteSelection('{{selectedFacet}}',true)" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;width:10px;height:10px;color:purple" xml:space="preserve">
                                   <g>
                                      <g>
                                         <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect>
                                      </g>
                                      <g>
                                         <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6" ></rect>
                                      </g>
                                   </g>
                                </svg>
                            </a>
                        </span>
                        <div class=" col-sm-3 col-md-2 col-lg-2 clear-button-block fr">
                           <button class="clearAll">Clear All</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="results-sortby" uib-dropdown keyboard-nav>
                        <span uib-dropdown-toggle>
                            <a href class="" id="product-sort-dropdown" >SORT BY</a>
                            <p class="sort-active-show ">Price</p>
                        </span>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="product-sort-dropdown">
                            <li>
                                <a href ng-click="algoliaSearchResults.SortByProducts('products_price_desc')">Price</a>
                            </li>
                            <li>
                                <a href ng-click="algoliaSearchResults.SortByProducts('products_new_desc')">New Products</a>
                            </li>
                            <li>
                                <a href ng-click="algoliaSearchResults.SortByProducts('products_viewed_desc')">Most Viewed</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row visible-xs visible-sm xs-filter">
              <div class="col-xs-6">
                <div class="btn-group btn-block dropdown" uib-dropdown="" is-open="status.isopen" style="">
                  <button id="sort-by-filter" type="button" class="btn btn-primary btn-block dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <span class="category-name">SORT BY</span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="sort-by-filter">
                    <li role="menuitem">
                        <a href="">Relavance</a>
                    </li>
                    <li role="menuitem">
                        <a href="">Price Highest to Lowest</a>
                    </li>
                    <li role="menuitem">
                       <a href="">Price Lowest to Highest</a>
                    </li>
                    <li role="menuitem">
                       <a href="">A - Z</a>
                    </li>
                    <li role="menuitem">
                        <a href="">Z - A</a>
                    </li>
                    <li role="menuitem">
                        <a href="">Best Sellers</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-6">
                <button class="filter-button btn-block" ng-click="plp.filterBtnModal()">FILTER 
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;position: absolute;height: 13px;width: 13px;right: 10px;top: 10px;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                          fill: #fff;
                        }

                      </style>
                      <g>
                        <rect x="11" class="st0" width="3" height="25"></rect>
                        <rect y="11" class="st0" width="25" height="3"></rect>
                      </g>
                    </svg>
                </button>
              </div>
            </div>
            <div class="row result-pdts ">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 algolia-facets hidden-xs hidden-sm" >
                    <h2>Refine</h2>
                    <div class="well well-sm algolia-facet-name"
                         ng-repeat-start="facet in algoliaSearchResults.CustomFacetList | orderBy:'name'" ng-hide="facet.name == 'Price'"
                         ng-init="algoliaSearchResults.facetBehavior[facet.name].close = false">
                        {{facet.name}}
                        <a class="pull-right" ng-click="algoliaSearchResults.facetBehavior[facet.name].close = !algoliaSearchResults.facetBehavior[facet.name].close">
                          <!-- <i class="fa" ng-class="{'fa-caret-right': algoliaSearchResults.facetBehavior[facet.name].close, 'fa-caret-down': !algoliaSearchResults.facetBehavior[facet.name].close}"></i> -->
                          <span ng-class="{'plus': algoliaSearchResults.facetBehavior[facet.name].close, 'minus': !algoliaSearchResults.facetBehavior[facet.name].close}">
                            <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                               <g>
                                  <rect x="12" class="" width="3" height="27"></rect>
                                  <rect y="12" class="" width="27" height="3"></rect>
                               </g>
                            </svg>
                            <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                               <rect y="10" width="50" height="4"></rect>
                            </svg>
                          </span>
                        </a>
                    </div>
                    <div class="algolia-facet-selections" ng-repeat-end uib-collapse="algoliaSearchResults.facetBehavior[facet.name].close" ng-hide="facet.name == 'Price'">
                        <div ng-class="{'algolia-no-results': !algoliaSearchResults.ProductResults.facets[facet.name][val]}" ng-repeat="val in facet.list"><a ng-click="algoliaSearchResults.toggleFacet(facet.name, val)"><i class="fa" ng-class="{'fa-square': algoliaSearchResults.FiltersObject[facet.name] && algoliaSearchResults.FiltersObject[facet.name][val], 'fa-square-o': !algoliaSearchResults.FiltersObject[facet.name] || !algoliaSearchResults.FiltersObject[facet.name][val]}"></i></a> {{val}}</div>
                    </div>
                    <div class="well well-sm algolia-facet-name" ng-hide="algoliaSearchResults.ProductResults.NotEnoughForPricing">
                        Price
                        <a class="pull-right" ng-click="algoliaSearchResults.facetBehavior['price'].close = !algoliaSearchResults.facetBehavior['price'].close">
                          <!--   <i class="fa" ng-class="{'fa-caret-right': algoliaSearchResults.facetBehavior['price'].close, 'fa-caret-down': !algoliaSearchResults.facetBehavior['price'].close}"></i> -->
                        </a>
                    </div>
                    <div class="algolia-facet-selections" uib-collapse="algoliaSearchResults.facetBehavior['price'].close" ng-hide="algoliaSearchResults.ProductResults.NotEnoughForPricing">
                        <slider ng-model="algoliaSearchResults.sliderValue"
                                on-stop-slide="algoliaSearchResults.changePriceRange()"
                                range="true"
                                min="algoliaSearchResults.ProductResults.facets_stats.Price.floor || algoliaSearchResults.ProductResults.facets_stats.Price.min"
                                step="algoliaSearchResults.step"
                                max="algoliaSearchResults.ProductResults.facets_stats.Price.ceiling || algoliaSearchResults.ProductResults.facets_stats.Price.max"
                                value="algoliaSearchResults.priceValue"></slider>
                    </div>
                    <div class="side-promo col-md-11">
                      <div class="row side-ban-1">
                        <!--  ng-include="plp.plp_promo_svgDesign"  -->
                         <div class="desc-text">
                            <h3>{{algoliaSearchResults.needHelpTitle}}</h3>
                            <p>{{algoliaSearchResults.needHelpDescription}}</p>
                         </div>
                      </div>
                      <div class="row side-ban-2">
                         <img src="{{algoliaSearchResults.leftPromo}}">
                      </div>
                      <div class="row side-ban-3">
                         <?xml version="1.0" encoding="utf-8"?>
                         <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                         <div class="desc-text">
                            <span ng-include="plp.giftCard"></span>
                            <div class="desc-text-right">
                               <h5>{{algoliaSearchResults.giftCardTitle}}</h5>
                               <p>{{algoliaSearchResults.giftCardDescription}}</p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 algolia-products">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 algolia-products-block" ng-repeat="result in algoliaSearchResults.ProductResults.hits track by $index" ng-mouseover="algoliaSearchResults.activeProduct = $index">
                            <div class="thumbnail">
                                <img ng-src="{{result.Image}}" alt="{{result.Name}}">
                                <div class="caption">
                                    <h4><span>{{result.Name}}</span></h4>
                                    <p>{{result.Price | currency}}</p>  
                                    <div>
                                        <a href="" ><span ng-style="{'background-color': 'red'}"></span></a>
                                        <a href="" ><span ng-style="{'background-color': 'blue'}"></span></a>
                                        <a href="" ><span ng-style="{'background-color': 'green'}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="results-quick-view " ng-show="algoliaSearchResults.activeProduct == $index">
                                <!-- <a href="#"  class="search-quick-view-plus btn btn-primary btn-block" role="button">QUICK VIEW</a> -->
                                <ordercloud-product-quick-view product="groupedProducts"  class="search-quick-view-plus hidden-xs hidden-sm"></ordercloud-product-quick-view>
                                <p class="col-xs-12 col-sm-12 col-md-6 col-lg-6 search-add-to-cart"><a href="#" role="button">ADD TO CART</a></p>
                                <p class="col-xs-12 col-sm-12 col-md-6 col-lg-6 search-add-to-list"><a href="#" role="button">ADD TO LIST</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <uib-pagination
                                total-items="algoliaSearchResults.ProductResults.nbHits"
                                ng-model="algoliaSearchResults.currentProductPage"
                                ng-change="algoliaSearchResults.changePage(0)"
                                class="pagination-sm"
                                rotate="true"
                                previous-text="Previous Page"
                                next-text="Next Page"
                                boundary-link-numbers="true"
                                num-pages="algoliaSearchResults.ProductResults.nbPages">
                            </uib-pagination>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group pagination-item-select">
                            <label for="inputType" class="col-xs-6 col-sm-6 col-md-6 p0 control-label">Items :</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 p0 select-option-block">
                                <select ng-model="selectedOption" ng-change="plp.setItemsPerPage(selectedOption)" ng-init="selectedOption='9'">
                                   <option>3</option>
                                   <option value="9">9</option>
                                   <option>15</option>
                                   <option>20</option>
                                </select>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab ng-click="algoliaSearchResults.toggleTab(0)" class="info-count">
            <uib-tab-heading>
              <span>Information</span><span> ({{algoliaSearchResults.InfoResults.nbHits}} results)</span>
            </uib-tab-heading>
            <div class="row results-nav col-xs-12 col-sm-12 col-md-2 col-lg-2 p0">
                <!-- <div class="ccol-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="results-selections">
                        <span>YOUR SELECTION</span>
                        <span class="results-selection" ng-repeat="selection in algoliaSearchResults.Selections">{{selection}}
                            <a>
                                <svg version="1.1" ng-click="plp.togglFaceteSelection('{{selectedFacet}}',true)" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;width:10px;height:10px;color:purple" xml:space="preserve">
                                   <g>
                                      <g>
                                         <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect>
                                      </g>
                                      <g>
                                         <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6" ></rect>
                                      </g>
                                   </g>
                                </svg>
                            </a>
                        </span>
                        <div class=" col-sm-3 col-md-2 col-lg-2 clear-button-block fr">
                           <button class="clearAll">Clear All</button>
                        </div>
                    </div>
                </div> -->
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                    <div class="results-sortby" uib-dropdown keyboard-nav>
                        <span uib-dropdown-toggle>
                            <a href class="" id="info-sort-dropdown" >SORT BY</a>
                            <p class="sort-active-show hidden-xs hidden-sm">Price</p>
                        </span>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="info-sort-dropdown">
                            <li>
                                <a href ng-click="algoliaSearchResults.SortByInfo('Information_type_desc')">Article Type</a>
                            </li>
                            <li>
                                <a href ng-click="algoliaSearchResults.SortByInfo('Information_author_desc')">Author</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-info-results container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row title-row hidden-xs hidden-sm">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <h4>Title</h4>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <h4>Type</h4>
                    </div>
                    <!-- <div class="col-xs-4">
                        <h4>Written By</h4>
                    </div> -->
                </div>
                <div class="column search-info-result" ng-repeat="hit in algoliaSearchResults.InfoResults.hits">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <h5>{{hit.Title}}</h5>
                            <div>
                                <span ng-bind-html="hit._highlightResult.Content.value"></span>
                            </div>
                            <div class="p0">
                                <h6>Written By <span>{{hit.Author}}</span></h6>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <h5 class="hidden-xs hidden-sm">{{hit.Type}}</h5>
                            <h5 class="visible-xs visible-sm">Type <span>{{hit.Type}}</span></h5>
                        </div>
                      <!--   <div class="col-xs-4">
                            <h5>{{hit.Author}}</h5>
                        </div> -->
                    </div>
<!--                     <div>
                        <span ng-bind-html="hit._highlightResult.Content.value"></span>
                    </div> -->
                </div>

            </div>

            <div class="pagination-container">
                <uib-pagination
                        total-items="algoliaSearchResults.InfoResults.nbHits"
                        ng-model="algoliaSearchResults.currentInfoPage"
                        ng-change="algoliaSearchResults.changePage(1)"
                        class="pagination-sm"
                        rotate="true"
                        previous-text="Previous Page"
                        next-text="Next Page"
                        boundary-link-numbers="true"
                        num-pages="algoliaSearchResults.InfoResults.nbPages"></uib-pagination>
            </div>
        </uib-tab>
    </uib-tabset>

</article>