
<form name="AlgoliaSearch" ng-submit="algoliaSearch.goToAlgoliaResultsPage(algoliaSearch.searchTerm)" class="algolia-search-input">
    <input
            type="text"
            class="form-control input-block-level"
            placeholder="Search"
            ng-model="algoliaSearch.searchTerm"
            typeahead-wait-ms="100"
            typeahead-append-to-body="true"
            uib-typeahead="entry for entry in algoliaSearch.popupSearch($viewValue)"
            typeahead-popup-template-url="algolia/templates/algoliaSearchTypeahead.popup.tpl.html"
            typeahead-loading="algoliaSearch.loading"
            typeahead-focus-first="false"
    >

    <!--<div class="input-group">
        <input
                style="{width: 100%}"
                type="text"
                class="form-control input-block-level"
                placeholder="Search"
                ng-model="algoliaSearch.searchTerm"
                typeahead-wait-ms="100"
                uib-typeahead="entry for entry in algoliaSearch.popupSearch($viewValue)"
                typeahead-popup-template-url="algolia/templates/algoliaSearchTypeahead.popup.tpl.html"
                typeahead-loading="algoliaSearch.loading"
                typeahead-focus-first="false"
        >
        &lt;!&ndash;<span class="input-group-btn">
            <button ng-click="algoliaSearch.goToAlgoliaResultsPage(algoliaSearch.searchTerm)" class="btn btn-primary"><i
                    class="fa fa-search"></i></button>
        </span>&ndash;&gt;
    </div>-->
</form>