<div ng-show="isOpen()"
     class="dropdown-menu custom-popup-wrapper algolia-search-popup"
     aria-hidden="{{!isOpen()}}"
     ng-style="{top: position().top+'px', left: position().left+'px', right:'30px'}"> <!--border all around-->
    <div class="row algolia-popup-container">
        <div class=" col-md-12 col-lg-12 typeahead-left"> <!--border right, min-height -->
            <ul class="dropdown-menu" role="listbox">
                <li ng-repeat="match in matches | IndexType:'products' track by $index"
                    ng-class="{active: isActive($index) }"
                    role="option"
                    id="{{::match.id}}">
                    <a ng-click="$parent.$parent.selectMatch(match)">
                        <h6 ng-bind-html="match.model._highlightResult.Name.value | limitTo:30"></h6>
                    </a>
                </li>
            </ul>
        </div>
        <div class=" col-md-12 col-lg-12 typeahead-right">
            <div class="typeahead-right-upper section-header"> <!--border-bottom-->
                <div>
                    <h5>Products</h5>
                </div>
                <div class="btn-header">
                    <button type="button" class="btn btn-default">SEE ALL</button>
                </div>
            </div>
            <div class="row typeahead-right-lower owl-carouse " id="owl-carousel-searc">
                <div class="hidden-xs hidden-sm col-xs-3 col-sm-3 col-md-3 col-lg-3 thumbnail-selection"
                    ng-repeat="match in matches | IndexType:'products' | limitTo:4 track by $index">
                    <div class="thumbnail">
                        <img ng-click="$parent.$parent.selectMatch(match)" ng-src="{{match.model.Image}}">
                        <div class="caption">
                            <h6><span>{{match.model.Name}}</span></h6>
                            <span>{{match.model.Price}}</span>
                        </div>

                    </div>
                </div>
                <div class="visible-xs visible-sm media col-xs-4 col-sm-4"
                    ng-repeat="match in matches | IndexType:'products' | limitTo:9 track by $index">
                    <div class="media-left">
                        <a href="#">
                            <img ng-click="$parent.$parent.selectMatch(match)" class="media-object"
                                 ng-src="{{match.model.Image}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"><span>{{match.model.Name}}</span></h6>
                        <span>{{match.model.Price}}</span>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 typeahead-bottom"> <!--border top-->
        <div class="typeahead-bottom-upper section-header">
            <div>
                <h5>Information</h5>
            </div>
            <div class="btn-header">
                <button type="button" class="btn btn-default">SEE ALL</button>
            </div>
        </div>
        <div class="typeahead-bottom-lower">
            <div class="info-selection" ng-repeat="match in matches | IndexType:'information' track by $index" ng-click="$parent.$parent.selectArticle(match)">
                <h6>{{match.model.Title}}</h6>
                <p class="info-result" ng-bind-html="match.model._highlightResult.Content.value | limitTo:290"></p>
            </div>
        </div>
    </div>
</div>
