<div class="container-fluid category-landing">
	<!-- <header class="jumbotron text-center">
		<div class="left_nav">
			<ul class="maincat">
				<li ng-repeat="categories in category.categoryTree" class="sub-nav">
					<a class="maincat_link pink">{{categories.Name}}</a>
					 <ul>
					 	<li class="subcategories" ng-repeat="subcategories in categories.children"> 
					 		<a class="maincat_link red">{{subcategories.Name}}</a>
					 	</li>
					 </ul>
				</li>
			</ul>
		</div>
	</header> -->
<!-- 	<div class="breadcrumb-cont">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Flowers & Specialty Plants</li>
		</ul>
	</div>
	<div class="category-content row">
		<h2>Flowers & Specialty Plants</h2>
		<div>
			<div class="fl category-content-sub col-md-6"><img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="{{category.categoryBanner}}"/></div>
			<div class="fr category-content-sub col-md-6"><img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="{{category.categoryBanner}}"/></div></div>
	</div> -->
	<div class="category-banner row">
		<!-- <img class="desktop-img" src="{{category.categoryBanner_ctg_banner}}"/>  -->
		<img class="desktop-img" src="{{category.categoryBanner_ctg_banner}}"/>
		<img class="mobile-img" src="{{category.categoryBanner_ctg_banner}}"/>
		<!-- <img class="mobile-img" src="assets/images/mobile/clp/Aspot.jpg"/> -->
		<div class="banner-content">
			<h1>{{category.categoryBanner_ctg_bannerTitle}}</h1>
			<div class="fl category-content-sub ">
				<p>{{category.categoryBanner_ctg_bannerDescription}}</p>
			</div>
			<!-- <h1>Flowers & Specialty Plants</h1>
			<div class="fl category-content-sub ">
				<p>30% Off Our Signature Collection!</p>
			</div> -->
		</div>
	</div>	
	<div class="shop-by-category row">
		<!-- <h2>Shop by Category</h2> -->
		
		<div class="categories col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul>					
				<li ng-repeat="categories in category.categoryList" class="sub-nav col-xs-6 col-sm-3 col-md-3 col-lg-3">
					<div class="ctg-product-img">
						<img ng-if="!categories.imgContent" src="assets/images/cat4.png">

						<img ng-if="categories.imgContent" class="desktop-img" src="{{categories.imgContent.contentUrl}}">
						<img ng-if="categories.imgContent" class="mobile-img" src="{{categories.imgContent.contentUrl}}">
						<!-- <img class="mobile-img" src="assets/images/mobile/clp/cat1.png"/> -->
		 				<div>
							<a class="maincat_link" ui-sref="category({ID:categories.ID,childCount:categories.ChildCount})" >{{categories.Name}}</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="category-content row">
		<!-- <h2>Flowers & Specialty Plants</h2>  -->
		<div class="fl category-content-sub col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="promo-banner col-xs-12 col-sm-12 col-md-12 col-lg-12 red">
				<!-- <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="{{category.categoryBanner_cat_slot1}}"/>  -->
				<img class="desktop-img" src="{{category.cat_slot1}}"/> 
				<img class="mobile-img" src="{{category.cat_slot1}}"/>
				<!-- <img class="mobile-img" src="assets/images/mobile/clp/cat_slot1.png"/> -->
				<div class="promo-banner-txt">
					<h1>{{category.cat_slot1Title}}</h1>
					<p>{{category.cat_slot1Description}}</p>
					<button class="transparent-button">{{category.cat_slot1BtnTxt}}</button>
					<!-- <h1>Wedding Flowers By Bachman's</h1>
					<p>Match your style and personality</p>
					<button class="transparent-button">SHOP WEDDING FLOWERS</button> -->
				</div>
			</div>
		</div>
		<div class="fr category-content-sub col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="cat-slot2 promo-banner col-xs-12 col-sm-12 col-md-12 col-lg-12 red">
				<!-- <img class="desktop-img" src="{{category.categoryBanner3_cat_slot2}}"/> -->
				<img class="desktop-img" src="{{category.cat_slot2}}"/> 
				<img class="mobile-img" src="{{category.cat_slot2}}"/> 
				<!-- <img class="mobile-img" src="assets/images/mobile/clp/cat_slot2.png"/>  -->
				<div class="promo-banner-txt">
					<!-- <h2>Designer's <br> Choice</h2>
					<h3>Unique Inspirations</h3>
					<button class="white-button">SHOP ARRANGEMENTS</button> -->
					<h2>{{category.cat_slot2Title}}</h2>
					<h3>{{category.cat_slot2Description}}</h3>
					<button class="white-button">{{category.cat_slot2BtnTxt}}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="category-promotions2 promo-banner row">
		<img class="desktop-img"src="{{category.cat_artcle}}">
		
		<div class="promo-banner-txt promo-banner-txt-left">
				<!-- <h1>How to Choose the Perfect Wedding Bouquet</h1>
				<p>Florem ipsum lily of the valley sunflower dill orchid. Rosemary st john's wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>
				<button>SHOP WEDDING FLOWERS</button>
				<button>READ THE FULL ARTICLE</button> -->
				<div ng-include="category.cat_article_content"></div>
		</div>
		<div class="img-crop ratio-4-to-3">
			<img class="mobile-img" src="assets/images/mobile/clp/Banner_4-bottom.png"/>
		</div>
		
<!-- 		<div class="cat-promo-img col-md-6">
			<img src="../assets/images/cat_promo2.png">
		</div> -->
	</div>

	<div class="row masnrydiv">
		<div class="clp-grid clp-repeatable-blocks" style="width:100%;">
			<div class="grid-item-width3 clp-grid-item">
				<div>
					<img class="desktop-img" src="{{category.topGridImg}}">
					<img class="mobile-img" src="{{category.topGridImg}}">
				</div>
				<div class="promo-banner-txt promo-banner-txt-left">	
					<h1>{{category.topGridTitle}}</h1>
					<p>{{category.topGridDescription}}</p>
					<button>{{category.topGridBtnTxt}}</button>
				</div>
				<!-- <div class="promo-banner-txt promo-banner-txt-left">	
					<h1>The Design Studio</h1>
					<p>Florem ipsum lily of the valley sunflower dill goosefoot, orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>
					<button>Shop Design Studio</button>
				</div> --> 
			</div>
			<div class="clp-grid-item"ng-repeat="gridimg in category.gridImgs" ng-if="$index > 0">
				<div>		
					<img class="desktop-img" src="{{gridimg}}" />		
					<img class="mobile-img" src="{{gridimg}}" />		
				</div>	
			</div>	
		
		</div>
	</div>
	<div style="clear:both"></div>

	<div class="home-category">
		<div ng-repeat="quicklink in category.quicklinks" ng-if="$index != 4">
			<span class="demo" ng-include="quicklink" ></span>
			<span class="clpQuickPpHover" ng-include="category.quicklinkPPHover"></span>
			<p ng-bind-html="category.title[$index]"></p>
			<span ng-bind-html="category.desc[$index]"></span>
		</div>
	</div>

	<div class="categories2">
		<!-- <img class="desktop-img" src="{{category.cat_info}}">
		<img class="mobile-img" src="assets/images/mobile/clp/Banner_3.png"/>  -->

		<span class="top-design" ng-include="category.cat_slot_info_topDesign"></span>
		
		<div class="row categories2-container">
			<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 categories2-sub">
				<h1>Care, Advice & Information</h1>
				<h2>Flowers & Specialty Plants</h2>
				<h3>Expert advice about flower care, choosing wedding flowers, event decorating & more</h3>
				<button class="transparent-button">VIEW ALL </button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 categories2-sub-rgt">
				<div>
					<p>Flower Care</p>
					<ul>
						<li><a>The Basics</a></li>
						<li><a>Rose Care</a></li>
						<li><a>Flower Care Guides</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 categories2-sub-rgt">
				<div>
					<p>Wedding & Event Planning</p>
					<ul>
						<li><a>Wedding Flowers</a></li>
						<li><a>Event Flowers</a></li>
						<li><a>Center Peices</a></li>
						<li><a>Event Accents</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 categories2-sub-rgt">
				<div>
					<p>Bouquet Arranging</p>
					<ul>
						<li><a>Arranging 101</a></li>
						<li><a>Arranging Basics</a></li>
						<li><a>Color Selection</a></li>
						<li><a>Accents</a></li>
					</ul>
				</div>
			</div>
		</div>
		<span class="bottom-design" ng-include="category.cat_slot_info_bottomDesign"></span>

	</div>
	<div class="divider-block"></div>
	<!-- <div class="row masnrydiv" >
		<div class="clp-grid clp-repeatable-blocks" style="width:100%;">
		<div class="grid-item-width3 clp-grid-item">
			<img class="desktop-img" src="assets/images/CLP_Portrait.png">
			<img class="mobile-img" src="assets/images/CLP_Portrait.png">
			<div class="promo-banner-txt promo-banner-txt-left">
				<h1>The Design Studio</h1>
				<p>Florem ipsum lily of the valley sunflower dill goosefoot, orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>
				<button>Shop Design Studio</button>
			</div> 
		</div>
		<div class="clp-grid-item">
				<div>
					<img class="desktop-img" src="assets/images/desktop/clp/grid2.png">
					<img class="mobile-img" src="assets/images/desktop/clp/grid2.png"/>
				</div>
		</div>
		
		<div class="grid-sizer"></div>
		<div class="grid-item-width4 clp-grid-item">
				<div>
					<img class="desktop-img" src="assets/images/desktop/clp/grid1.jpg">
					<img class="mobile-img" src="assets/images/desktop/clp/grid1.jpg"/>
				</div>
		</div>
		<div class="clp-grid-item">
				<div>
					<img class="desktop-img" src="assets/images/desktop/clp/grid3.png">
					<img class="mobile-img" src="assets/images/desktop/clp/grid3.png"/>
				</div>
		</div>
		

		</div>
	</div> -->
	<!-- static masonry arrangement -->

<!-- 	<div class="grid repeatable-blocks" style="width:100%;height:650px">
		<div class="grid-item-width3 grid-item">
			<div>
				<img class="desktop-img" src="assets/images/CLP/grid1.jpg">
				<img class="mobile-img" src="assets/images/CLP/mobile/grid1.png"/> 
			</div>
			<div class="promo-banner-txt promo-banner-txt-left">
				<h1>The Design Studio</h1>
				<p>Florem ipsum lily of the valley sunflower dill goosefoot, orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>
				<button>Shop Design Studio</button>
			</div>
		</div>
		<div class="grid-item">
			<div>
				<img class="desktop-img" src="assets/images/CLP/grid1.jpg">
				<img class="mobile-img" src="assets/images/CLP/mobile/grid1.png"/>
			</div>
		</div>
		<div class="grid-item-width4 grid-item">
			<div>
				<img class="desktop-img" src="assets/images/CLP/grid2.jpg">
				<img class="mobile-img" src="assets/images/CLP/mobile/grid2.png"/>
			</div>
		</div>
		<div class="grid-item">
			<div>
				<img class="desktop-img" src="assets/images/CLP/grid3.jpg">
				<img class="mobile-img" src="assets/images/CLP/mobile/grid3.png"/>
			</div>
		</div>
	</div> -->
<!-- 
	<div class="category-promotions">
		<p>(PROMOTIONS)</p>
		<div class="row">
			<div class="col-md-3 category-promotions-block">
				<div class="category-promotions-txt">
					<div>
						<p>We’re Fast!</p>
						<h6>Same or Next Day Shipping</h6>	
					</div>
				</div>
			</div>
			<div class="col-md-3 category-promotions-block">
				<div class="category-promotions-txt">
					<div>
						<p>We’re Fast!</p>
						<h6>Same or Next Day Shipping</h6>	
					</div>
				</div>
			</div>
			<div class="col-md-3 category-promotions-block">
				<div class="category-promotions-txt">
					<div>
						<p>We’re Fast!</p>
						<h6>Same or Next Day Shipping</h6>	
					</div>
				</div>
			</div>
			<div class="col-md-3 category-promotions-block">
				<div class="category-promotions-txt">
					<div>
						<p>We’re Fast!</p>
						<h6>Same or Next Day Shipping</h6>	
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!-- 	
	<div class="row category-promotions2" style="display:none;">
		<div class="category-promo-cont col-md-4">
			<div class="promo-banner">
				<img class="col-md-12" src=""/>
				<div class="promo-banner-txt promo-banner-txt-left">
					<span>(PLANT CARE, ADVICE & INFORMATION</span>
					<h1>How to Choose Flowers for your Wedding</h1>
					<p>Florem ipsum lily of the valley sunflower dill orchid. Rosemary st john’s wort, spring cinquefoil eustoma. Cuckooflower honeysuckle lobster claw.</p>
					<button>Read the Full Article</button>
					<button>Shop Wedding Flowers</button>
				</div>
			</div>
		</div>
		<div class="col-md-8"><div class="promo-banner"></div></div>
	</div> -->
	
	<div class="events-slider-home">
		<div class="events-promo row">
			<div class="events-promo-sub1 col-xs-12 col-sm-12 col-md-7 col-lg-7"><h1>Workshops & Events</h1><h2>Create your own arrangements, get inspired by the ideas house & more great events</h2></div>
			<div class="events-promo-sub2 col-xs-12 col-sm-12 col-md-5 col-lg-5"><button class="promo-button" ui-sref="category({parentId:categories.ID,childCount:'2',ID:'c10'})" >View All Workshops & Events</button></div>
		</div>
		<div class="events-slider-cont">
			<div class="events-slider owl-carousel" id="owl-carousel-events">
				<div class="events-slider-block events-slider-block-w" ng-repeat="event in category.eventsList" >
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="../../assets/images/desktop/home/plant.png"/>
						<img class="mobile-img" src="assets/images/mobile/home/plant.png" />
					</div>
					<div class="events-desc">
						<h2>{{event.Name}}</h2>
						<p>{{event.Description}}</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class="">
								<button class="event-register">Register Now</button>
								<div class="event-time">
									<span class="events-countdown">	
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
											<circle cx="29.3" cy="32.7" r="25"/>
											<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
											<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
											<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
											<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
											<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
										</svg>
									</span>
									{{event.xp.slot}}<span class="events-cost" ng-repeat="pricelist in event.StandardPriceSchedule.PriceBreaks">{{pricelist.Price | currency}}</span>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-w" >
					<div class="p0 m0 events-promo"></div>
					<div class="events-desc">
						<h2></h2>
						<p></p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown"></span>
							<span class="events-cost" ></span></div><button class="event-register">Register Now</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="category-pdt-carousel">
		<!-- <p class="red">(PRODUCT CAROUSEL)</p> -->
		<h1>Best Sellers in Flowers & Specialty Plants</h1>
		<div class="owl-carousel owl-theme" id="owl-carousel2">
			<div class="owl-carousel-item" ng-repeat="best in category.bestSeller">
				<div class="category-prod">
					<img class="desktop-img" src="{{best.imgContent.contentUrl}}" />
					<img class="mobile-img" src="{{best.imgContent.contentUrl}}" />
					<!-- <img class="mobile-img" src="assets/images/mobile/clp/Btiq_1.png" /> -->
				</div>
				<div class="category-prod-desc">
					<div class="">
						<div class="category-prod-desc-web"><p>{{best.Name}}</p></div>
						
						<h5 class="pdt-carousel-price" ng-repeat="pricelist in best.StandardPriceSchedule.PriceBreaks">{{pricelist.Price | currency}}</h5>
					</div>
					<button class="green-button">BUY NOW</button>
					<h4>Mpls/ St. Paul Delivery Only</h4>
				</div>
			</div>
		</div>
	</div>	
</div>