<div class="general-static-block container-fluid p0" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}">
	<div class="event-nav  p0">

		<div class="breadcrumb-box">
			<ul class="breadcrumb hidden-xs hidden-sm">
				<li><a href="index.html">HOME</a> </li>
				<li>WORKSHOPS & EVENTS</li>
				<li>TERRARIUM DESIGN WORKSHOP</li>
			</ul>
			<ul class="breadcrumb hidden-md hidden-lg">
				<li><a href="index.html">HOME</a> </li>
				<li>WORKSHOPS & EVENTS</li>
				<li>TERRARIUM DESIGN...</li>
			</ul>
		</div>

	</div>
	<!--<div class="mobile-plantZone-nav hidden-sm hidden-md hidden-lg p0">

	<div class="breadcrumb-box">
		<ul class="breadcrumb hidden-xs hidden-sm">
			<li><a href="index.html">HOME</a> </li>
			<li>CARE, ADVICE & INFORMATION</li>
			<li>CARE GUIDES & INFORMATION</li>
			<li>OUTDOOR PLANT ARTICLES</li>
			<li>WINTER CARE OF TROPICAL PLANTS</li>
		</ul>
		<ul class="breadcrumb hidden-md hidden-lg">
			<li><a href="index.html">HOME</a> </li>
			<li>PANT..</li>
			<li>WINTER CARE OF TROPICAL PLANTS</li>
		</ul>
	</div>

</div>-->
	<div class="row eventDescription-content">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 workshop-events">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span class="back-to">Back to Workshops & Events</span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 event-image-block">
				<div class="event-image">
					<img src="assets/images/Event_Description_Page_1.png" alt="">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 event-describes">
				<div class="">
					<h3>Terrarium Design Workshop</h3>
					<h5>$50.00</h5>
					<p> Choose a date to register for: </p>
					<uib-accordion>
						<uib-accordion-group is-open="status.open1">
							<uib-accordion-heading>
								<p ng-class="{'footer-minus': status.open1, 'footer-plus': !status.open1}">
									Friday, February 20th
									<span>Select this Date to Choose Time</span>
								</p>
							</uib-accordion-heading>
							<div class="event-drpDown">
								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>


								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>
								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>
								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>

							</div>
						</uib-accordion-group>
						<uib-accordion-group is-open="status.open2">
							<uib-accordion-heading>
								<p ng-class="{'footer-minus': status.open2, 'footer-plus': !status.open2}">Saturday, February 28th
									<span>Select to Choose Time</span>
								</p>

							</uib-accordion-heading>
							<div class="event-drpDown">
								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>


								<label for="">
									<div class="Checkbox">
										<input type="checkbox">
										<div class="Checkbox-visible"></div>
									</div>
									<span>9:00 a.m. - 10:00 a.m</span></label>

							</div>
						</uib-accordion-group>
					</uib-accordion>
					<span class="more-dates">(See More Dates)</span>
					<div class="col-xs-12 quantity">
						<label for="">
							Qty
						</label>
						<input type="text">
						<button>REGISTER</button>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tab-view">
				<uib-tabset type="pills">
					<uib-tab heading="Description" class="description col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<p>
							Terrariums are unique ecosystems, constructed in a clear glass container. Natural elements meet creative aesthetics, to bring an alluring environment to life. Put together your own craetive visions with a little guidance from a Bachman's expert and learn how to design a terrarium with miniature plants and a mix of natural materials evocative of the sea.
						</p>
						<p>
							Practical considerations and design elements will be discussed. Ticket cost covers all materials needed, participants may bring small objects of interest to personalize their botanical creation. One person may attend class workshop per ticket.
						</p>
					</uib-tab>
					<uib-tab heading="Ticket Information" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<p>
							Terrariums are unique ecosystems, constructed in a clear glass container. Natural elements meet creative aesthetics, to bring an alluring environment to life. Put together your own craetive visions with a little guidance from a Bachman's expert and learn how to design a terrarium with miniature plants and a mix of natural materials evocative of the sea.
						</p>
					</uib-tab>
					<uib-tab heading="Cancellation/Policies" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">Tab 3 content</uib-tab>
				</uib-tabset>
			</div>
		</div>

	</div>
	<div class="related-events-description">

		<div class="events-slider-home">
			<div class="events-promo row">
				<div class="events-promo-sub1 col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<h1>Workshops & Events</h1>
					<h2>Create your own arrangements, get inspired by the ideas house & more great events</h2></div>
				<div class="events-promo-sub2 col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<button class="promo-button" ui-sref="category({parentId:categories.ID,childCount:'2',ID:'c10'})">View All Workshops & Events</button>
				</div>
			</div>
			<div class="events-slider-cont">
				<div class="events-slider owl-carousel" id="owl-carousel-events">
					<div class="events-slider-block events-slider-block-w" ng-repeat="event in home.eventsList">
						<div class="p0 m0 events-promo">
							<img class="desktop-img" src="assets/images/desktop/home/plant.png" />
							<img class="mobile-img" src="assets/images/mobile/home/plant.png" />
						</div>
						<div class="events-desc">
							<h2>Winter Farmer’s Market</h2>
							<p>{{event.Description}}</p>
							<p class="more-details">More details</p>
							<div class="row events-date">
								<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
								<div class="">
									<button class="event-register">Register Now</button>
									<div class="event-time">
										<span class="events-countdown">	
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
											<circle cx="29.3" cy="32.7" r="25"/>
											<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
											<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
											<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
											<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
											<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
										</svg>
									</span> {{event.xp.slot}}
										<span class="events-cost" ng-repeat="pricelist in event.StandardPriceSchedule.PriceBreaks">{{pricelist.Price | currency}}</span>
									</div>

								</div>
							</div>
							<!-- <p>Come in from the cold and enjoy an indoors farmers' market! Local growers, craftsmen, and food artisans from Fulton, Kingfield, and Nokomis farmers' markets will have produce, breads, meats, cheeses, canned goods, and beautiful handmade items for sale.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div> -->
						</div>
					</div>
					<div class="events-slider-block events-slider-block-w">
						<div class="p0 m0 events-promo"></div>
						<div class="events-desc">
							<h2></h2>
							<p></p>
							<p class="more-details">More details</p>
							<div class="row events-date">
								<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
								<div class="">
									<div class="event-time">
										<span class="events-countdown"></span>
										<span class="events-cost"></span></div>
									<button class="event-register">Register Now</button>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Terrarium Design Workshop</h2>
						<p>Terrariums are unique ecosystems, constructed in a clear glass container. Natural elements meet creative aesthetics, to bring an alluring environment to life.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">20<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 PM – 4:00 PM <span class="events-cost">$50.00</span></div><button class="event-register">Register Now</button></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Terrarium.jpg" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-woi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="" />
						<img class="mobile-img" src="" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Free to Attend</span></div></div>
						</div>
					</div>
				</div>
				<div class="events-slider-block events-slider-block-wi">
					<div class="p0 m0 events-promo">
						<img class="desktop-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
						<img class="mobile-img" src="assets/images/Home_Page/Workshops-&-Events-Thumbnail.png" />
					</div>
					<div class="events-desc">
						<h2>Minnesota Peony Society Educational Event</h2>
						<p>Joe and Hazel will cover topics such as; choosing peonies for your landscape, all-season foliage, fragrance, cut flowers and extended blooms.</p>
						<p class="more-details">More details</p>
						<div class="row events-date">
							<div class="event-date">27<span>Feb</span><span class="event-day">saturday</span></div>
							<div class=""><div class="event-time">
							<span class="events-countdown">	
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
							</span>
							2:00 AM – 4:00 PM<span class="events-cost2">Open to the Public & Free to Attend</span></div></div>
						</div>
					</div>
				</div> -->
				</div>
			</div>
		</div>

		<!-- <div class="row related-products">
<h4>Related Products</h4>



					<div class="col-md-3">
						<div class="grid_1">
							<a href="single.html"><img src="assets/images/pdt2.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Pink Frills</p>
								<p class="title1">$59.99 - $79.99</p>
								<button type="button" class="btn btn-primary">
									BUY NOW</button>
								<div class="price" style="height: 19px;">
									<span>MPLS/ST. PAUL DELIVERY ONLY</span>

								</div>

							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="col-md-3">
						<div class="grid_1">
							<a href="single.html"><img src="assets/images/cat4.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Dazzler</p>
								<p class="title1"> $79.99 - $109.99</p>
								<button type="button" class="btn btn-primary">
									BUY NOW</button>
								<div class="price" style="height: 19px;">

								</div>

							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="col-md-3">
						<div class="grid_1">
							<a href="single.html"><img src="assets/images/cat_pdt.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Herloom</p>
								<p class="title1"> $79.99</p>
								<button type="button" class="btn btn-primary">
									BUY NOW</button>
								<div class="price" style="height: 19px;">
									<span>MPLS/ST. PAUL DELIVERY ONLY</span>

								</div>

							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="col-md-3">
						<div class="grid_1">
							<a href="single.html"><img src="assets/images/pdt3.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">My Strength</p>
								<p class="title1"> $79.99</p>
								<button type="button" class="btn btn-primary">
									BUY NOW</button>
								<div class="price" style="height: 19px;">
									<span>MPLS/ST. PAUL DELIVERY ONLY</span>

								</div>

							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div> -->
	</div>
</div>