<div class="general-static-block container-fluid p0" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}">

	<div class="container-fluid p0 purple">

		<div class="breadcrumb-box ">
			<ul class="breadcrumb">
				<li><a href="index.html">HOME</a> </li>
				<li>FAQ</li>

			</ul>
		</div>

	</div>

	<div class="container faq-aside">


		<!-- Sidebar -->
		<div class=" hidden-xs hidden-sm col-md-3 col-lg-3" id=" sidebar-wrapper">

			<div class="receipient-details hidden-xs hidden-sm">
				<uib-accordion close-others="oneAtATime">
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group ng-init="status.open = true" is-open="status.open">
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Customer Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#" class="active">FAQ</a></li>
								<li><a href="#">Returns & Exchanges</a></li>
								<li><a href="#">Store Locator</a></li>
								<li><a href="#">Delivery</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Perple Perks</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Corporate
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>
						</div>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" id=" page-c8ntent-wrapper">
			<div class="container-fluid">
				<h4>FAQs</h4>
				<div class="mobile-receipient-details hidden-md hidden-lg">
					<uib-accordion>
						<uib-accordion-group is-open="status.openfaqs">
							<uib-accordion-heading>
								<p ng-class="{'footer-minus': status.openfaqs, 'footer-plus': !status.openfaqs}">FAQs</p>
							</uib-accordion-heading>
							<div class="head-title">
								<h4>Services</h4>
								<ul>
									<li><a href="#">Fresh Cut Flower Articles</a></li>
									<li><a href="#">Indoor Plant Articles</a></li>
									<li><a href="#">Outdoor Plant Articles</a></li>
									<li><a href="#">Gardening Articles</a></li>
								</ul>
								<h4>	Customer Services</h4>
								<ul>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#" class="active">FAQ</a></li>
									<li><a href="#">Returns & Exchanges</a></li>
									<li><a href="#">Store Locator</a></li>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Gift Cards</a></li>
									<li><a href="#">Perple Perks</a></li>
								</ul>
								<h4>	Corporate</h4>
								<ul>
									<li><a href="#">Fresh Cut Flower Articles</a></li>
									<li><a href="#">Indoor Plant Articles</a></li>
									<li><a href="#">Outdoor Plant Articles</a></li>
									<li><a href="#">Gardening Articles</a></li>
								</ul>
							</div>

							<!--<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<li ng-repeat="categories in base.tree" class="sub-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
	</li>
</ul>-->
						</uib-accordion-group>

					</uib-accordion>
				</div>
				<div class="row right-content">
					<div class="faq-details">
						<uib-accordion close-others="oneAtATime">
							<uib-accordion>
								<uib-accordion-group is-open="status.open1">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open1, 'footer-plus': !status.open1}">General FAQs</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<p>FAQ1</p>


									</div>
								</uib-accordion-group>
								<uib-accordion-group is-open="status.open2">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open2, 'footer-plus': !status.open2}">Shipping & Delivery</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<div class="row">
											<div class="col-md-7 shipping-delivery">
												<h5 class="question">What is the Minneapolis/ St. Paul Delivery Fee?</h5>
												<p> $10.99, $12.99 or $14.99 plus tax(dependent on recepient's address).</p>
												<h5 class="question">Does Bachman's deliver Nationwide?</h5>
												<p>Yes, Bachman's deliver is Nationwide. Below are shipping/delivery cost.</p>
												<h5>Flower & Plants</h5>
												<p> $11.95(plus tax if delivered in Minnesota and outside of Mpls/St.Paul)</p>
												<h5>Fower & Plant</h5>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 ">
												<table width="50%" class="table table-bordered table-responsive">
													<thead>
														<tr>
															<th>Item Cost</th>
															<th>Shipping Cost</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>$0 to $14.99</td>
															<td>$13</td>
														</tr>
														<tr>
															<td>$15 to $29.99</td>
															<td>$16</td>
														</tr>

														<tr>
															<td>$30 to $49.99</td>
															<td>$18</td>
														</tr>

														<tr>
															<td>$50 to $69.99</td>
															<td>$21</td>
														</tr>

														<tr>
															<td>$70 to $99.99</td>
															<td>$26</td>
														</tr>

														<tr>
															<td>$100 to $149.99</td>
															<td>$31</td>
														</tr>

														<tr>
															<td>$150 to $199.99</td>
															<td>$46</td>
														</tr>

														<tr>
															<td>$200 to $249.99</td>
															<td>$70</td>
														</tr>

														<tr>
															<td>$250 to $499.99</td>
															<td>$100</td>
														</tr>

														<tr>
															<td>$500 to $999.99</td>
															<td>$150</td>
														</tr>

														<tr>
															<td>$1000 and up.</td>
															<td>$200</td>
														</tr>
													</tbody>

												</table>
											</div>
										</div>
									</div>
								</uib-accordion-group>

								<uib-accordion-group is-open="status.open3">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open3, 'footer-plus': !status.open3}">Shopping</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<p>Shopping FAQ</p>
									</div>
								</uib-accordion-group>
								<uib-accordion-group is-open="status.open4">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open4, 'footer-plus': !status.open4}">Site Features</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<p>Site Features FAQ</p>
									</div>
								</uib-accordion-group>
								<uib-accordion-group is-open="status.open5">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open5, 'footer-plus': !status.open5}"> Privacy & Security</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<p> Privacy & Security FAQ</p>
									</div>
								</uib-accordion-group>
								<uib-accordion-group is-open="status.open6">
									<uib-accordion-heading>
										<p ng-class="{'footer-minus': status.open6, 'footer-plus': !status.open6}"> Terms of Use</p>
									</uib-accordion-heading>
									<div class="faq-drpDown">
										<p> Terms of Use FAQ</p>
									</div>
								</uib-accordion-group>
							</uib-accordion>

					</div>
				</div>



			</div>
		</div>



	</div>
</div>