<div class="general-static-block container-fluid p0" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}">
	<div class="container-fluid p0">
		<div class="history-banner">
			<img src="assets/images/service-sliders.png">
			<!--<img src="assets/images/mobile-service-sliders.png" class="hidden-md hidden-lg">-->
		</div>
	</div>

	<div class="container history-aside">


		<!-- Sidebar -->
		<div class="col-md-3" id=" sidebar-wrapper">
			<div class="receipient-details hidden-xs hidden-sm">
				<uib-accordion close-others="oneAtATime">
					<uib-accordion-group ng-init="status.open = true" is-open="status.open">
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Customer Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Corporate
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Bachman’s History</a></li>
								<li><a href="#">Employment</a></li>
								<li><a href="#">Our Partners</a></li>
								<li><a href="#">Bachman’s Herritage Room</a></li>
								<li><a href="#">Flagship Store Tour</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>


						</div>
					</uib-accordion-group>

				</uib-accordion>

			</div>
			<div class="mobile-receipient-details hidden-md hidden-lg">
				<uib-accordion>
					<uib-accordion-group is-open="status.openfaqs">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.openfaqs, 'footer-plus': !status.openfaqs}">Bachman’s Heritage Room</p>
						</uib-accordion-heading>
						<div class="head-title">
							<h4>Services</h4>
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>
							<h4>	Customer Services</h4>
							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#" class="active">FAQ</a></li>
								<li><a href="#">Returns & Exchanges</a></li>
								<li><a href="#">Store Locator</a></li>
								<li><a href="#">Delivery</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Perple Perks</a></li>
							</ul>
							<h4>	Corporate</h4>
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>
						</div>

						<!--<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<li ng-repeat="categories in base.tree" class="sub-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
	</li>
</ul>-->
					</uib-accordion-group>

				</uib-accordion>
			</div>


		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div class="col-md-9 service-templates" id=" page-content-wrapper">
			<div class="container-fluid">

				<div class="row service-full-content">
					<div class="col-xs-12 col-md-12">

						<p class="service-body1">

							If you're planning a wedding or a special event, our talented designers can create fabulous floral features that are as memorable as the main event.</p>

						<h4>Wedding Flowers</h4>

						<p class="service-body2">
							Bachman’s wedding department dates back to 1920 when Albert Bachman started transioning the company from growing vegetables to flowers. Albert's wife Olga did all of the original wedding designs without any formal training, she created beautiful flowers by referring to magzine pictures of inspirational.
							<br>
							<br> It's that sort of creativity and ingenuity that continues today among our wedding designers. From traditional favorites to hip new trends, our award-winning team works with hundreds of brides and grooms each year to create the flowers of their dreams. </p>

						<h4>Contact Bachman’s Wedding Team</h4>

						<p class="service-body3">
							Email: weddings@bachmans.com
							<br> Call: 612-861-7620
							<br>
							<br>
							<a href="">Learn more and view our wedding slideshows</a></p>

						<h4>Special Event Flowers</h4>
						<p class="service-body4">
							Whether it’s personal or business-related, you can count on Bachman's for beautiful holiday parties, corporate events, and more. Our talented, experienced consultants provide imaginative decorating ideas and floral decor for all special occasions.
							<br>
							<br> From your initial consultation through the day of your event, you'll enjoy working with our creative, professional designers. They will discuss the ambiance you desire and create unique designs reflecting their award-winning talent and your good taste. Many business customers qualify for a discount; please call for more information.
						</p>

						<h4>Wedding Flowers</h4>
						<p class="service-body4">specialevents@bachmans.com | 612-861-7729</p>
					</div>
				</div>


			</div>




		</div>
	</div>
	<!--<div class="container">
	<div class="row wedding-service">
		<h4>Bachman’s Wedding Inspiration</h4>

		<div class="col-md-3">
			<div class="grid_1">
				<a href="single.html"><img src="assets/images/services-carousal1.png" title="prod1" alt=""></a>
				<div class="grid_desc">
					<p class="title">Bridal Bounquet</p>

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-3">
			<div class="grid_1">
				<a href="single.html"><img src="assets/images/services-carousal2.png" title="prod1" alt=""></a>
				<div class="grid_desc">
					<p class="title">Wedding Center Pieces</p>

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-3">
			<div class="grid_1">
				<a href="single.html"><img src="assets/images/services-carousal3.png" title="prod1" alt=""></a>
				<div class="grid_desc">
					<p class="title">Corporate Events</p>

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-3">
			<div class="grid_1">
				<a href="single.html"><img src="assets/images/services-carousal4.png" title="prod1" alt=""></a>
				<div class="grid_desc">
					<p class="title">Holidays Flowers</p>


				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>-->
	<div class="history-carousel">
		<div class="row bachman-herritage">
			<h4>Bachman’s Wedding Inspiration</h4>



			<div class="owl-carousel owl-theme" id="owl-carousel-services">
				<div class="owl-carousel-item">
					<div class="">
						<div class="grid_1">
							<a href=""><img src="assets/images/services-carousal1.png" title="prod1" alt=""> </a>
							<div class="grid_desc">
								<p class="title">Bridal Bounquet</p>

							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="owl-carousel-item">
					<div class="">
						<div class="grid_1">
							<a href=""><img src="assets/images/services-carousal2.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Wedding Center Pieces.</p>

							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="owl-carousel-item">
					<div class="">
						<div class="grid_1">
							<a href=""><img src="assets/images/services-carousal3.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Corporate Events</p>

							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="owl-carousel-item">
					<div class="">
						<div class="grid_1">
							<a href=""><img src="assets/images/services-carousal4.png" title="prod1" alt=""></a>
							<div class="grid_desc">
								<p class="title">Holidays Flowers.</p>


							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>