<div class="general-static-block">
	<div class="container-fluid p0">
		<div class="history-banner">
			<img src="assets/images/12_Static_Page_banners.png" class="hidden-xs hidden-sm">
			<img src="assets/images/mobile-12_Static_Page_banners.png" class="hidden-md hidden-lg">
			<h4 class="heritage-title">Bachman’s Heritage Room</h4>
		</div>
	</div>

	<div class="container static-aside">


		<!-- Sidebar -->
		<div class="col-md-3" id=" sidebar-wrapper">
			<div class="receipient-details hidden-xs hidden-sm">
				<uib-accordion close-others="oneAtATime">
					<uib-accordion-group ng-init="status.open = true" is-open="status.open">
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Customer Services
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>


						</div>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
								<g>
									<rect x="10" width="4" height="24" />
									<rect y="10" width="24" height="4" />
								</g>


							</svg>
							<svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
								<rect y="10" width="50" height="8" />

							</svg>
							Corporate
						</uib-accordion-heading>
						<div class="receipient-drpDown">
							<ul>
								<li><a href="#">Bachman’s History</a></li>
								<li><a href="#">Employment</a></li>
								<li><a href="#">Our Partners</a></li>
								<li><a href="#">Bachman’s Herritage Room</a></li>
								<li><a href="#">Flagship Store Tour</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>


						</div>
					</uib-accordion-group>

				</uib-accordion>

			</div>
			<div class="mobile-receipient-details hidden-md hidden-lg">
				<uib-accordion>
					<uib-accordion-group is-open="status.openfaqs">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.openfaqs, 'footer-plus': !status.openfaqs}">Bachman’s Heritage Room</p>
						</uib-accordion-heading>
						<div class="head-title">
							<h4>Services</h4>
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>
							<h4>	Customer Services</h4>
							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#" class="active">FAQ</a></li>
								<li><a href="#">Returns & Exchanges</a></li>
								<li><a href="#">Store Locator</a></li>
								<li><a href="#">Delivery</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Perple Perks</a></li>
							</ul>
							<h4>	Corporate</h4>
							<ul>
								<li><a href="#">Fresh Cut Flower Articles</a></li>
								<li><a href="#">Indoor Plant Articles</a></li>
								<li><a href="#">Outdoor Plant Articles</a></li>
								<li><a href="#">Gardening Articles</a></li>
							</ul>
						</div>

						<!--<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<li ng-repeat="categories in base.tree" class="sub-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
	</li>
</ul>-->
					</uib-accordion-group>

				</uib-accordion>
			</div>

		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div class="col-md-9 " id=" page-content-wrapper">
			<div class="container-fluid">

				<div class="row static-full-content">
					<div class="col-xs-12 col-md-12">

						<p class="static-body1">

							The Heritage Room at Bachman's on Lyndale may be just the place to hold your next event. The space accommodates 110 people comfortably, and can be easily reconfigured, making it the perfect setting for parties, business and organization meetings, conferences, seminars, and more.</p>

						<h4>Room rental includes:</h4>
						<ul class="static-list">
							<li>Room set up: classroom, banquet or lecture style</li>
							<li>Caterer's kitchen and coffee service upon request</li>
							<li>AV equipment</li>
							<li>Friendly staff assistance</li>
							<li>Central location in the south metro area</li>
							<li>Ample free parking</li>
							<li>Lighting to suit any need</li>
							<li>Full accessibility</li>


						</ul>

						<h4>Room Rental </h4>
						<p class="static-body2">
							Rates vary depending on event type and duration. Please call or email for details.</p>
						<ul class="static-list1">
							<li>HeritageRoom@bachmans.com</li>
							<li>612-861-7725</li>
							<li>Fill Out Reservation Request Form</li>
						</ul>
						<h4>Catering </h4>

						<p class="static-body2">
							Rates vary depending on event type and duration. Please call or email for details.</p>
						</p>
					</div>
				</div>
			</div>
			<div class="bottom-divider"></div>
		</div>

	</div>

</div>