<div class="container-fluid map-container">
    <div style="" id='map_container' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="map"></div>
        <div ng-repeat="marker in markers | orderBy : 'title'">
            <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
        </div>
    </div>
    <div id="myclass" style="height:auto;" class="storeLocator-Left-Wrap">
        <form id="findStoreForm" name="findStoreForm" novalidate>
            <div id="panel1" style="" class="col-xs-12 col-md-3 col-sm-12 co-lg-3">
                <p class="head">Find a Bachman's Store</p>
                
                <div class="Text-field-wrap">
                    <input type="number" id="zipCode" ng-model="zipCode" ng-disabled="txtCity" ng-class="{ focusIn: zipCode }" />
                    <label for="zipCode">Zip Code</label>
                </div>

                <p class="or">OR</p>

                <div class="Text-field-wrap">
                <input type="text" id="txtCity" ng-model="txtCity" ng-disabled="zipCode" ng-class="{ focusIn: txtCity }" />
                <label for="txtCity">Enter City</label> 
                </div>

                <select id="selectedVal" ng-disabled="zipCode">
					<option value="select" selected>Select State</option>
					<option value="Minnesota">Minnesota</option>
                </select><br/>
                <p class="select">Select Services you are looking for</p>
                <div class="checkbox" ng-repeat="service in serviceOffered">
                  <label><input ng-model="chkBoolean" ng-click="chkStateChanged(chkBoolean, $event, $index)" type="checkbox" value="{{service}}">{{service}}</label>
                </div>
				<div ng-if="noStoresFound">
					<p>No Stores Found...</p>
				</div>
                <input type="submit" value="FIND STORE" ng-click="findStore()" />
            </div>
        </form>    
        <div id="panel2" style="" class="col-xs-3 col-md-3 col-sm-3 colg-3">
            <div class="back_section">
                <i class="fa fa-angle-left" aria-hidden="true"></i><span ng-click="backToPanel1()">Back</span>
            </div>
            <div class="storeRes-Con-Wrap" style="">
                <div class="greyed_bg">
                    <p>We found <b>{{storesData.length}} Bachman's</b> stores near <b ng-if="zipCode">"{{zipCode}}"</b></p>
                    <div class="store-Results">
                        <div class="checkbox-inline" ng-repeat="service in serviceOffered">
                            <label><input ng-checked="serviceOffered.indexObj[$index]==true" ng-model="serviceOffered.indexObj[$index]" ng-click="chkStateChanged(serviceOffered.indexObj[$index], $event, $index)" type="checkbox" value="{{service}}">{{service}}</label>
                        </div>
                    </div>
                </div>
                <div id="storesList" ng-repeat="stores in storesData">
                    <div class="store">
                        <p class="sl_no">{{$index+1 }}</p>
                        <p class="store_heading">
                            <span class="store-SubHead">{{stores.city}}, {{stores.cityCode}}</span>
                            <span class="store-rightText">{{stores.distance}} mi</span>
                        </p>
                        <p class="store_type">{{stores.storeName}}</p>
                        <p class="store_address">{{stores.storeAddress}}, {{stores.city}}, {{stores.cityCode}} {{stores.zipCode}}</p>
    					<p class="store_address">{{stores.phoneNumber}}</p>
                        <div class="action-btns">
                            <span ng-click="getDirections(stores)">Map &amp; Driving Directions </span>
                            &nbsp;&nbsp;
                            <span ng-click="getStoreInfo(stores)">Store Hours &amp; Info</span>
                        </div>
                        <div class="offered_services">
                            <p class="offered_servicesTitle">Offered Services</p>
                            <ul>
                                <li ng-repeat="services in stores.serviceOffered">{{services}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="store_info col-xs-12 col-sm-12 col-md-12 col-lg-12" id="store_details">
        <div class="left_part col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="img_container">
                <img src="{{storeDtls.imageUrl}}" class="img-responsive" alt="Store Image"/>
            </div>

            <div class="store_overview">
                <p class="head">
                    {{storeDtls.storeName}}
                </p>
                <p class="offers">Offered Services </p>
                <ul class="offer_lists" ng-repeat="storeServices in storeDtls.serviceOffered">
                    <li>{{storeServices}}</li>
                </ul>

                <div class="store_address">
                    <p>{{storeDtls.storeAddress}}</p>
                    <p>{{storeDtls.city}}, {{storeDtls.cityCode}} {{storeDtls.zipCode}}.</p>
                    <p>{{storeDtls.phoneNumber}}.</p>
                </div>

                <div class="opportunities">
                    <a href="#">Search Employement Oppurtunities at this Location</a>
                </div>
            </div>
        </div>

        <div class="right_part col-xs-12 col-sm-12 col-md-9 col-lg-9">

            <div class="get_directions">
                <form ng-submit="getDirections(storeDtls)">
                    <div class="col-md-9">
                        <input type="text" placeholder="ENTER A START ADDRESS" class="form-control custom col-md-10" ng-model="startAddress" id="startAddress" />
                    </div>

                    <div class="col-md-3 no-pad">
                        <button type="submit" value="" class="btn btn-primary custom col-md-2">GET DIRECTIONS</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="store_hours col-xs-12 col-sm-12">
                <div class="table-responsive" ng-repeat="line in storeDtls.workingHrs" ng-init="lineStores = line['storeHrs'+($index+1)]">
                    <p class="thick" ng-if="!lineStores.futureDate">Current Store Hours</p>
					<p class="thick" ng-if="lineStores.futureDate">Store Hours Starting {{lineStores.futureDate}}</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-if="lineStores.sun.length == 2"><span>{{lineStores.sun[0]}}</span><span>{{lineStores.sun[1]}}</span></td>
							<td ng-if="lineStores.sun.length != 2"><span>{{lineStores.sun}}</span></td>
                            <td><span>{{lineStores.mon_fri[0]}}</span><span>{{lineStores.mon_fri[1]}}</span></td>
                            <td><span>{{lineStores.mon_fri[0]}}</span><span>{{lineStores.mon_fri[1]}}</span></td>
                            <td><span>{{lineStores.mon_fri[0]}}</span><span>{{lineStores.mon_fri[1]}}</span></td>
                            <td><span>{{lineStores.mon_fri[0]}}></span><span>{{lineStores.mon_fri[1]}}</span></td>
                            <td><span>{{lineStores.mon_fri[0]}}</span><span>{{lineStores.mon_fri[1]}}</span></td>
                            <td ng-if="lineStores.sat.length == 2"><span>{{lineStores.sat[0]}}</span><span>{{lineStores.sat[1]}}</span></td>
							<td ng-if="lineStores.sat.length != 2"><span>{{lineStores.sat}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div class="store_future_hours">
                <div class="table-responsive">
                    <p class="thick">Store Hours Starting 05/03/2016</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                            <td>9:00 a.m <br /> 6:00 p.m</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->

            <div class="holiday_hrs col-xs-12 col-sm-12" ng-if="storeDtls.holidays.length > 0">
                <div>
                    <p class="thick"> Holiday Hours</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="(key, val) in storeDtls.holidays[0]">
                                <td class="hrs-key">{{key}}</td>
                                <td class="hrs-value">{{val}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="abt_store" ng-if="storeDtls.aboutUs">
                <p class="thick">About This Store</p>
                <p>{{storeDtls.aboutUs}}</p>
            </div>
        </div>

        <div class="clearfix"></div>  
        <!-- Last banner section starts -->
    <div class="row banner-rewards storeLoc-Banner-Section col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="promo-banner promo-banner-top promoBanner-firstSection row col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <img class="desktop-img" src="assets/images/mobile/home/Promotion_Image.png">
                <img class="mobile-img" src="assets/images/mobile/home/Promotion_Image.png">
                <!-- <img class="mobile-img" src="assets/images/mobile/home/home_promo.png"/> -->
                <div class="promo-banner-txt col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>On Sale This Week</h1>
            <p>Get great regular deals on floral, home, and garden needs.</p>
            <button class="promo-button">25% OFF SUCCULENTS</button>
                </div>
        </div>
        <div class="promo-banner-main col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="promo-banner promo-banner-left banner-left-wrap col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="desktop-img" src="http://103.227.151.31:8080/alfresco/service/api/node/content/workspace/SpacesStore/59bcf792-1acf-414d-9ece-6a7c8e9a1d70/banner3.png?alf_ticket=TICKET_6f465510defcefdd825aac00c870cecb6fa857a2">
                <img class="mobile-img" src="http://103.227.151.31:8080/alfresco/service/api/node/content/workspace/SpacesStore/59bcf792-1acf-414d-9ece-6a7c8e9a1d70/banner3.png?alf_ticket=TICKET_6f465510defcefdd825aac00c870cecb6fa857a2">
                <!-- <img class="mobile-img" src="assets/images/mobile/home/home_promo.png"/> -->
                <div class="promo-banner-txt banner-right-txt col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Don’t Forget Mom! :)</h1>
                    <button>Shop Mother’s Day Gifts</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Last banner section ends -->


    </div>




    <!-- <div>
        <div>
        <img class="desktop-img" src="http://103.227.151.31:8080/alfresco/service/api/node/content/workspace/SpacesStore/a626a1b0-ae1b-4ca3-96b8-9dcc16682a97/banner2.png?alf_ticket=TICKET_b15ff7914e995a59a07bda2e0304c74fa306c8e0">
        </div>
        <div class="promo-banner promo-banner-left">
                <img class="desktop-img" src="http://103.227.151.31:8080/alfresco/service/api/node/content/workspace/SpacesStore/59bcf792-1acf-414d-9ece-6a7c8e9a1d70/banner3.png?alf_ticket=TICKET_b15ff7914e995a59a07bda2e0304c74fa306c8e0">
                <img class="mobile-img" src="http://103.227.151.31:8080/alfresco/service/api/node/content/workspace/SpacesStore/59bcf792-1acf-414d-9ece-6a7c8e9a1d70/banner3.png?alf_ticket=TICKET_b15ff7914e995a59a07bda2e0304c74fa306c8e0">
                 <img class="mobile-img" src="assets/images/mobile/home/home_promo.png"/> 
                <div class="promo-banner-txt">
                    <h1>Don’t Forget Mom! :)</h1>
                    <button>Shop Mother’s Day Gifts</button>
                </div>
            </div>
    </div> -->
</div>