<div class="general-static-block container-fluid p0" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}">

	<div class="container-fluid p0 purple">
		<div class="breadcrumb-box">
			<ul class="breadcrumb">
				<li><a href="index.html">HOME</a> </li>
				<li class="text-ellipsis">CARE, ADVICE & INFORMATION</li>
				<li>CARE GUIDES & INFORMATION</li>

			</ul>

		</div>
		<div class="banner-img">
			<img src="assets/images/08_Care_Advice_Information_Landing_banner.png" class="hidden-xs hidden-sm">
			<img src="assets/images/mobile-08_Care_Advice_Information_Landing_banner.png" class="hidden-md hidden-lg">
			<div class="banner-title">
				<h4>Care & Information Guides</h4>
				<h5>Florem ipsum lily of the valley</h5>
			</div>
		</div>
	</div>

	<div class="container careadvice-container">


		<!-- Sidebar -->
		<div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm" id=" sidebar-wrapper">
            <div class="receipient-details hidden-xs hidden-sm">

                <div class="first-head">
                    Care, Advice & Information
                </div>
                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group ng-init="status.open = true" is-open="status.open" ng-repeat="folder in base.ListOfPages" ng-if="folder.nodeType == 'ws:section' && folder.title !=''">
                        <uib-accordion-heading>
                            <svg class="close" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24"
                                 height="24" viewBox="0 0 24 24">
                                <g>
                                    <rect x="10" width="4" height="24"/>
                                    <rect y="10" width="24" height="4"/>
                                </g>


                            </svg>
                            <svg class="open" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92"
                                 height="92" viewBox="0 0 92 92">
                                <rect y="10" width="50" height="8"/>

                            </svg>
                            {{folder.title}}
                        </uib-accordion-heading>
                        <div class="receipient-drpDown">
                            <ul>
                                <li ng-repeat="subFolder in folder.subfolders.items" ng-if="subFolder.nodeType == 'ws:section' && subFolder.title !=''">
                                    <a ng-click="template.getThingsFromALfresco(folder.fileName,subFolder.fileName)">
                                        {{subFolder.title}}
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </uib-accordion-group>
                </uib-accordion>
                </div>
</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" id=" page-content-wrapper">
			<div class="container-fluid">
				<div class="row right-content">
					<uib-tabset class="tabs">
						<uib-tab class="in-tabs" index="0" heading="Fresh Cut Flower Articles">

							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>Fresh Cut Flower Articles</h4>
								</div>

								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" placeholder="SEARCH" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
										
										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>


								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table class="table table-responsive care-table hidden-xs hidden-sm">
									<thead>
										<tr style="background-color:#fff;">
											<th width="60%">Article Name</th>
											<th width="25%">&nbsp;</th>
											<th width="25%">Article Type</th>
										</tr>
									</thead>
									<tbody>
<!--                                        <tr ng-repeat="article in template.articleList.items" ui-sref="staticPage({pageName:article.title})">-->
										<tr ng-repeat="article in template.articleList.items" ui-sref="staticPage({pageName:article.fileName})" ng-if="article.nodeType == 'ws:article'">
											<td width="60%">
													<p class="content">{{article.description}}</p>
													<span class="sub-head">Written By <span class="author">{{article.author}}</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%"><span class="guide">Care Guide</span></td>
										 </tr>
									</tbody>
								</table>
								<table class="table table-responsive care-table mobile-care-table hidden-md hidden-lg">
									<tbody>
										<tr>
											<td>
												<p class="mobile-content">Florem ipsum lily of the valley, Obedient plant pink heath Carnation globeflower queen</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
												<p>
													<label for="">Article Type</label> <span class="guide">Care Guide</span></p>
											</td>
										</tr>
										<tr>
											<td>
												<p class="mobile-content">Tansy safari sunset prairie gentian bottlebrush Barberton daisy snapdragon lupin</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
												<p>
													<label for="">Article Type</label> <span class="guide">Care Guide</span></p>
											</td>
										</tr>
										<tr>
											<td>
												<p class="mobile-content">Florem ipsum lily of the valley, Obedient plant pink heath Carnation globeflower queen</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
												<p>
													<label for="">Article Type</label> <span class="guide">Care Guide</span></p>
											</td>
										</tr>
										<tr>
											<td>
												<p class="mobile-content">Tansy safari sunset prairie gentian bottlebrush Barberton daisy snapdragon lupin</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
												<p>
													<label for="">Article Type</label> <span class="guide">Care Guide</span></p>
											</td>
										</tr>
										<tr>
											<td>
												<p class="mobile-content">Florem ipsum lily of the valley, Obedient plant pink heath Carnation globeflower queen</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>

												<p>
													<label for="">Article Type</label> <span class="guide">Care Guide</span></p>
											</td>
										</tr>
								</table>
							</div>
							<div class="show-more hidden-md hidden-lg">
								<span>Show More</span>
							</div>
						</uib-tab>

						<uib-tab class="in-tabs" index="1" heading="Indoor Plant Articles">
							<span class="shadow-border"></span>
							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>Indoor Plant Articles</h4>
								</div>
								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" placeholder="Search" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
										
										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>
								</div>
							</div>
						</uib-tab>
						<uib-tab class="in-tabs" index="2" heading="Outdoor Plant Articles">
							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>Outdoor Plant Articles</h4>
								</div>
								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" placeholder="Search" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
										
										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>
								</div>
							</div>
						</uib-tab>
						<uib-tab class="in-tabs" index="3" heading="Gardening Articles">
							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>Gardening Articles</h4>
								</div>
								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" placeholder="Search" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
										
										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>
								</div>
							</div>

						</uib-tab>

						<uib-tab active="active" class="in-tabs" index="4" heading="All Care Guides & Information">
							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>All Care Guides & Information</h4>
								</div>
								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" placeholder="Search" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}
										
										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table class="table table-responsive care-table">
									<thead>
										<tr style="background-color:#fff;">
											<th width="60%">Article Name</th>
											<th width="25%">&nbsp;</th>
											<th width="25%">Article Type</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="article in template.articleList">
											<td width="60%">
												<p class="content">{{article}}</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%">Care Guide</td>
										</tr>
										<tr>
											<td width="60%">
												<p class="content">Tansy safari sunset prairie gentian bottlebrush Barberton daisy snapdragon lupin</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%">Information</td>
										</tr>
										<tr>
											<td width="60%">
												<p class="content">Florem ipsum lily of the valley, Obedient plant pink heath Carnation globeflower queen</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%">Care Guide</td>
										</tr>
										<tr>
											<td width="60%">
												<p class="content">Tansy safari sunset prairie gentian bottlebrush Barberton daisy snapdragon lupin</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%">Information</td>
										</tr>
										<tr>
											<td width="60%">
												<p class="content">Florem ipsum lily of the valley, Obedient plant pink heath Carnation globeflower queen</p>
												<span class="sub-head">Written By <span class="author">Margaret Purcell, Sr. Horticulturist</span></span>
											</td>
											<td width="25%">&nbsp;</td>
											<td width="25%">Care Guide</td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>

			</div>
		</div>

		<div class="bottom-divider"></div>

	</div>
</div>