<div class="container-fluid shopingCart-container ">
    <div id="minicart" class="dropdown-cart col-md-12" uib-dropdown is-open="minicart.showLineItems" style="height:300px;">
        <div class="btn-group col-md-12" uib-dropdown-toggle ng-disabled>
           <!--  <a>My Cart</a> -->
            <!-- <label class="btn btn-primary">
				<span>
					<i class="fa fa-shopping-cart"></i>
					<i class="badge">{{minicart.LineItems.Meta.TotalCount}}</i>
				</span>
			</label>
			<label class="btn btn-default">{{order.Subtotal | currency}} <i class="fa fa-caret-down"></i></label>-->

			
					<a class="info-cart-text">MY CART</a>
					<a class="info-cart-icon">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill: none;
									stroke: #FFFFFF;
									stroke-width: 2;
									stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st1" cx="19.3" cy="46.7" r="5.4" />
								<circle class="st1" cx="47.1" cy="46.7" r="5.4" />
								<polyline class="st1" points="0,1.2 8.7,1.2 12.2,38.8 54.3,38.8 	" />
								<path class="st1" d="M11.5,30.7l35.7,0c0.4-0.1,2.6,0.6,3.6-3.2c1-3.8,3.1-15,3.1-15s0.8-4.6-3.4-4.7c-5.3,0-34.7,0-34.7,0" />
							</g>
						</svg>
						<span class="cart-count">2</span>
					</a>
				
            <div id="minicart_line_item_list" uib-dropdown-menu role="menu" class="panel panel-default">
                <div class="minicart-body" style="max-height: 300px;overflow-y: auto;">
                    <!-- <table class="table table-hover">
					<colgroup>

					</colgroup>
					<tr ng-repeat="lineItem in minicart.LineItems.Items">
						<td>{{lineItem.Quantity}}</td>
						<td>
							<a href="#">{{lineItem.Product.Name}}</a><br>
							<small class="text-muted">{{lineItem.ProductID}}</small></br>
						</td>
						<td>
							<b class="text-success">{{lineItem.LineTotal | currency}}</b>
						</td>
					</tr>
				</table> -->
                    <ul class="dropdown-menu-login dropdown-menu-cart">
                        <!-- <li ng-repeat="lineItem in minicart.LineItems.Items"> -->
                        <li>
                            <div class="shopping-cart-blocks">
                                <div class="row">
                                    <div class="col-md-5 cart-product">
                                        <div><img src="assets/images/batch3web/minicart/flowers1.png" /></div>

                                    </div>
                                    <div class="col-md-7 cart-product-desc">
                                        <div>
                                            <!-- <h6>{{lineItem.Product.Name}}</h6> -->
                                            <h6>lineItem.Product.Name</h6>
                                            <!-- <p class="cart-product-quantity">Quantity: <span>{{lineItem.Quantity}}</span></p> -->
                                            <p class="cart-product-quantity">Qty: <span>5</span></p>
                                            <!-- <div class="cart-product-edit"><p class="col-md-6">Edit</p><p class="col-md-6">{{lineItem.LineTotal | currency}}</p></div> -->
                                            <p class="cart-price">$12.25</p>
                                            <button class="cart-product-edit">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shopping-cart-blocks">
                                <div class="">
                                    <div class="cart-delivery-details">
                                        <h6>Delivering to:</h6>
                                        <div>
                                            <p>Lily Burns</p>
                                            <h6>[Edit]</h6>
                                            <p class="cart-no">55428</p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 cart-recepient-details"><div><h6>Lily Burns</h6><p>Edit Recepient</p></div></div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-5 cart-product">
                                        <div><img src="assets/images/batch3web/minicart/flowers1.png" /></div>
                                    </div>
                                    <div class="col-md-7 cart-product-desc">
                                        <div>
                                            <!-- <h6>{{lineItem.Product.Name}}</h6> -->
                                            <h6>Stargazing Lilies</h6>
                                            <p class="cart-product-color">Deluxe, Purple</p>
                                            <!-- <p class="cart-product-quantity">Quantity: <span>{{lineItem.Quantity}}</span></p> -->
                                            <p class="cart-product-quantity">Qty: <span>4</span></p>
                                            <!-- <div class="cart-product-edit"><p class="col-md-6">Edit</p><p class="col-md-6">{{lineItem.LineTotal | currency}}</p></div> -->
                                            <p class="cart-price">$13.99</p>
                                            <button class="cart-product-edit">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-edit-cont">
                        <a class="cart-edit-btn" ui-sref="cart">EDIT CART</a>
                        <div class="cart-delivery">Est. Delivery:
                            <p>$12.99</p>
                        </div>
                        <div class="cart-total">Subtotal:
                            <p>{{minicart.Order.Subtotal | currency}}</p>
                        </div>
                        <button>checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
