<div class="base-footer base-footer-mobile" ng-class="base.menuClass">
	<div class="base-category row">
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"  ng-repeat="contactImg in base.contactImgs">
			<span class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-include="contactImg"></span>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<h1 ng-bind="base.contacttitle[$index]"></h1>
				<h6 ng-bind="base.description[$index]"></h6>
			</div>
		</div>
	</div>	
	<hr class="row">
	<div class="base-footer-details row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="brand col-xs-12 col-sm-12 col-md-2 col-lg-2"><a><img src="{{base.brandSpot}}" alt="BACHMAN’S BRAND SPOT"/></a></div>
			<div class=" bachman-history col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<p ng-bind-html="base.history"></p>
			</div>
			<div class="p0 contact-details col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="p0 col-xs-12 col-sm-12 col-md-12 col-lg-12 join-to-contact">
					<h3>Stay Inspired, Be Informed!</h3>
					<p>Purple Perks is a free program to celebrate & reward Bachman’s loyal retail customers.</p>
				</div>
				<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">Stay Inspired, Be Informed!</div>
				<div class="col-xs3 col-sm-3 col-md-3 col-lg-3 signin-to-contact" ><button>Learn More or Sign Up</button></div> -->
				<div class="p0 col-xs-12 col-sm-12 col-md-12 col-lg-12 connect-to-contact">
					<button class="col-xs-12 col-sm-12 col-md-12 col-lg-12">JOIN NOW</button>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<a class="twiter-icon" href="https://twitter.com/shopbachmans" target="_blank">
						  <svg class="twiter-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 57" style="enable-background:new 0 0 66 57;" xml:space="preserve">
							<path class="st1" style="stroke-width: 2;" d="M21.1,55.9c-12.4,0-20.6-6.3-20.7-6.3C0.1,49.3,0,49,0.2,48.7c0.1-0.3,0.4-0.5,0.7-0.5c0.4,0,0.9,0,1.3,0
									c6.7,0,11-1.4,13.4-2.6c1.3-0.7,2.3-1.3,2.9-1.8c-5-1.1-7.8-3.5-9.4-5.3c-1.9-2.2-2.3-4.3-2.4-4.4c0-0.2,0-0.4,0.1-0.6
									c0.1-0.2,0.4-0.3,0.6-0.3h2.5c-3.9-2.1-5.7-4.9-6.6-7c-1.2-3-1-5.5-0.9-5.6c0-0.3,0.2-0.5,0.4-0.6l0.1,0l0.2,0c0.2,0,0.3,0,0.4,0.1
									c1.1,0.8,2.3,1.1,3.3,1.2C-0.9,14.2,4.1,4,4.1,3.9c0.1-0.2,0.3-0.4,0.6-0.4c0,0,0,0,0,0c0.3,0,0.5,0.1,0.6,0.3
									c10.3,12,19.7,13.8,24.4,13.8c0.7,0,1.2,0,1.6-0.1c-0.3-3.9,0.1-9.2,3.5-12.8c2.2-2.3,4.5-2.8,4.8-2.9c1.6-0.3,3.2-0.5,4.8-0.5
									c6.2,0,10.2,2.7,11.4,3.6l7.5-3.1l0.2,0c0.2,0,0.3,0.1,0.5,0.2c0.2,0.2,0.3,0.4,0.3,0.7c-0.3,2.1-2.1,4.1-3.6,5.6l4.4-0.8
									c0,0,0,0,0,0c0.4,0,0.6,0.2,0.8,0.4c0.1,0.3,0.1,0.7-0.2,0.9l-6.8,6.1c0.2,2.6,0.5,8.9-2.3,15.5c-5.8,13.8-15,20-21.7,22.8
									c-6.2,2.6-11.4,2.8-12.9,2.8L21.1,55.9z M22,54.4c1.4,0,6.4-0.2,12.4-2.7c6.4-2.7,15.2-8.7,20.8-22c2.7-6.5,2.4-12.6,2.2-15.2
									c0-0.2,0.1-0.5,0.2-0.6l5.1-4.6l-4.5,0.8c0,0,0,0,0,0c-0.4,0-0.7-0.2-0.8-0.4c-0.1-0.3,0-0.7,0.2-0.9c1-0.7,3.5-2.9,4.6-5l-6.4,2.6
									l-0.2,0c-0.2,0-0.4-0.1-0.5-0.2c-0.1,0-1.5-1.3-4-2.3c-2.1-0.8-4.4-1.2-6.8-1.2c-1.5,0-3,0.2-4.5,0.5c-0.1,0-8.5,2-7.1,14.7
									c0,0.4-0.2,0.7-0.6,0.8c0,0-1,0.2-2.6,0.2c-1.9,0-3.9-0.3-6-0.8C19.2,16.9,12.3,13.8,5,5.6c-0.4,1.1-1,2.9-1.1,5
									c-0.2,4.5,1.6,8.1,5.4,10.7c0.2,0.2,0.4,0.5,0.3,0.8c-0.1,0.3-0.3,0.5-0.6,0.6c-0.1,0-0.6,0.1-1.3,0.1c-1,0-2.5-0.2-3.9-0.9
									c0.1,2.7,1.4,8.5,10,11.3c0.4,0.1,0.6,0.5,0.5,0.8c-0.1,0.4-0.4,0.6-0.7,0.6H8.4c0.9,2.1,3.7,6.6,11.6,7.9c0.3,0,0.5,0.2,0.6,0.5
									c0.1,0.2,0.1,0.5-0.1,0.7c-0.2,0.2-4.3,5.6-17.1,5.9c3,1.7,9.4,4.7,17.7,4.7l0.6,0L22,54.4z" />
						  </svg>
						  <svg class="twiter-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 57" style="enable-background:new 0 0 66 57;" xml:space="preserve">
							<path class="" d="M21.1,55.9c-12.4,0-20.6-6.3-20.7-6.3C0.1,49.3,0,49,0.2,48.7c0.1-0.3,0.4-0.5,0.7-0.5c0.4,0,0.9,0,1.3,0
								c6.7,0,11-1.4,13.4-2.6c1.3-0.7,2.3-1.3,2.9-1.8c-5-1.1-7.8-3.5-9.4-5.3c-1.9-2.2-2.3-4.3-2.4-4.4c0-0.2,0-0.4,0.1-0.6
								c0.1-0.2,0.4-0.3,0.6-0.3h2.5c-3.9-2.1-5.7-4.9-6.6-7c-1.2-3-1-5.5-0.9-5.6c0-0.3,0.2-0.5,0.4-0.6h0.1h0.2c0.2,0,0.3,0,0.4,0.1
								c1.1,0.8,2.3,1.1,3.3,1.2C-0.9,14.2,4.1,4,4.1,3.9c0.1-0.2,0.3-0.4,0.6-0.4l0,0c0.3,0,0.5,0.1,0.6,0.3c10.3,12,19.7,13.8,24.4,13.8
								c0.7,0,1.2,0,1.6-0.1c-0.3-3.9,0.1-9.2,3.5-12.8c2.2-2.3,4.5-2.8,4.8-2.9c1.6-0.3,3.2-0.5,4.8-0.5c6.2,0,10.2,2.7,11.4,3.6l7.5-3.1
								h0.2c0.2,0,0.3,0.1,0.5,0.2c0.2,0.2,0.3,0.4,0.3,0.7c-0.3,2.1-2.1,4.1-3.6,5.6l4.4-0.8l0,0c0.4,0,0.6,0.2,0.8,0.4
								C66,8.2,66,8.6,65.7,8.8l-6.8,6.1c0.2,2.6,0.5,8.9-2.3,15.5c-5.8,13.8-15,20-21.7,22.8C28.7,55.8,23.5,56,22,56L21.1,55.9z" />
							</svg>
						</a>
						<a class=" fb-icon" href="https://www.facebook.com/BachmansMN" target="_blank">
						  <svg class="fb-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 55" style="enable-background:new 0 0 53 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<path class="st1" style="stroke-width:2;" d="M0.3,55V2.4h52.5V55H0.3z M51.1,53.3V4.1H2v49.3h27.5V30.3h-4.6v-2.2h4.6v-5.6c0-8.4,1.7-13,10.4-13h0.3
											l0.3,0.3v1.9h-0.3c-7.2,0-8.5,2.8-8.5,10.8v5.6h8.8v2.2h-8.8v23.1H51.1z" />
						  </svg>
						  <svg class="fb-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-6 1 53 55" style="enable-background:new -6 1 53 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<path class="st0" d="M-5.7,3.4V56h29.2v-1.6V31.3h-4.6v-2.2h4.6v-5.6c0-8.4,1.7-13,10.4-13h0.3l0.3,0.3v1.9h-0.3
											c-7.2,0-8.5,2.8-8.5,10.8v5.6h8.8v2.2h-8.8v23.1V56h21.1V3.4H-5.7z" />
						  </svg>
						</a>
						<a class=" youtube-icon" href="https://www.youtube.com/user/BachmansFloral" target="_blank">
						  <svg class="youtube-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 69.5 55" style="enable-background:new 0 0 69.5 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: none;
								stroke: #FFFFFF;
								stroke-width: 0.5;
								stroke-miterlimit: 10;
							  }

							</style>
							<g>
							  <g>
								<g>
								  <g>
									<path class="st1" style="stroke-width:3;" d="M67.4,15.2c0,0-0.7-4.6-2.7-6.7c-2.6-2.7-5.4-2.7-6.7-2.8C48.7,5,34.6,5,34.6,5h0c0,0-14.1,0-23.5,0.7
																C9.7,5.8,6.9,5.8,4.3,8.5c-2,2-2.7,6.7-2.7,6.7S1,20.6,1,26v5.1C1,36.6,1.7,42,1.7,42s0.7,4.6,2.7,6.7c2.6,2.7,5.9,2.6,7.4,2.9
																c5.4,0.5,22.8,0.7,22.8,0.7s14.1,0,23.5-0.7c1.3-0.2,4.2-0.2,6.7-2.8c2-2,2.7-6.7,2.7-6.7s0.7-5.4,0.7-10.9V26
																C68.1,20.6,67.4,15.2,67.4,15.2z M27.6,37.3V18.4l18.1,9.5L27.6,37.3z" />
								  </g>
								</g>
							  </g>
							</g>
						  </svg>
						  <svg class="youtube-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="2 1 69.5 55" style="enable-background:new 2 1 69.5 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<g>
							  <polygon class="st0" points="31.1,21.9 31.1,35.9 44.4,28.9 	" />
							  <path class="st0" d="M69.4,16.2c0,0-0.7-4.6-2.7-6.7c-2.6-2.7-5.4-2.7-6.7-2.8C50.7,6,36.6,6,36.6,6S22.5,6,13.1,6.7
												c-1.4,0.1-4.2,0.1-6.8,2.8c-2,2-2.7,6.7-2.7,6.7S3,21.6,3,27v5.1C3,37.6,3.7,43,3.7,43s0.7,4.6,2.7,6.7c2.6,2.7,5.9,2.6,7.4,2.9
												c5.4,0.5,22.8,0.7,22.8,0.7s14.1,0,23.5-0.7c1.3-0.2,4.2-0.2,6.7-2.8c2-2,2.7-6.7,2.7-6.7s0.7-5.4,0.7-10.9V27
												C70.1,21.6,69.4,16.2,69.4,16.2z M29.1,39.1V18.5l19.7,10.4L29.1,39.1z" />
							</g>
						  </svg>
						</a>
						<a class="instagram-icon" href="https://www.instagram.com/shopbachmans" target="_blank">
						  <svg class="instagram-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.5 55" style="enable-background:new 0 0 54.5 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<g>
							  <g>
								<path class="st1" style="stroke-width: 2;" d="M10.9,55c-1,0-2.3,0-3.5-0.3C6,54.5,5,54,4.1,53.3c-0.7-0.5-1.2-1.2-1.7-1.9c-0.7-1.2-0.9-2.6-1.1-3.8
													c-0.2-1.4-0.2-3-0.2-4.4l0-3.5v-25c0-1.7,0-3.3,0.2-4.9C1.5,8,1.9,6.7,2.6,5.6C3.1,4.7,3.8,4,4.7,3.5c1.2-0.7,2.7-1.1,4.7-1.2
													c2.5-0.1,5.1-0.2,7.7-0.2l8.7,0c0.5,0,1.1,0,1.9,0.1l2.4,0.1c2.3,0.1,5.6,0.1,10.5,0.1l2.8,0c1.8,0,3,0.1,4.1,0.2
													c1.1,0.2,2,0.4,2.8,0.8c0.5,0.3,1,0.6,1.3,1.1c0.5,0.6,0.8,1.3,1,2.1c0.3,1,0.4,2.2,0.4,3.9l0,0.6c0,1.5,0.1,6.2,0.2,11.7
													c0,0,0.4,21.1,0.4,21.7c-0.1,1.5-0.2,2.8-0.3,3.9c-0.2,1.3-0.4,2.2-0.8,3c-0.3,0.6-0.7,1.1-1.1,1.5c-0.6,0.5-1.4,1-2.4,1.2
													c-1.3,0.4-2.8,0.5-4.9,0.5c-4.7,0-9.7,0.1-14.5,0.1c-4.3,0.1-8.3,0.1-11.8,0.1c0,0-3,0-3.1,0C13.9,54.9,11.6,55,10.9,55z
													 M2.7,39.6l0,3.6c0,1.4,0,2.9,0.2,4.2c0.2,1.4,0.5,2.5,0.9,3.2c0.3,0.6,0.8,1.1,1.3,1.5c0.5,0.4,1,0.7,1.6,0.9
													c1,0.4,2.4,0.5,4.2,0.5c0.6,0,3.1-0.1,3.7-0.1l3.2,0c3.4,0,7.4-0.1,11.7-0.1c4.8-0.1,9.8-0.1,14.5-0.1c1.7,0,3-0.1,4-0.3
													c1-0.2,1.7-0.5,2.2-0.9c0.3-0.3,0.6-0.6,0.8-1c0.3-0.5,0.5-1.2,0.7-2.1c0.2-1.1,0.3-2.5,0.4-4.3c0-0.6-0.3-18.7-0.3-18.7l-11.9,0
													l0.2,0.8c0.2,1,0.3,2.1,0.3,3.2c0,3.2-1.2,6.1-3.3,8.3c-2.3,2.3-5.6,3.6-9.3,3.6c-2.1,0-4.3-0.6-6.2-1.6c-2.2-1.2-3.9-2.9-4.9-5
													c-0.8-1.6-1.2-3.3-1.2-5.3c0-1.3,0.1-2.5,0.4-3.7l0.2-0.8h-0.8c-3.7,0-7.3,0-11.8-0.2l-0.7,0V39.6z M27.5,18.5
													c-3.2,0-5.7,1-7.6,3.1c-1.9,2-2.9,5-2.9,8.4c0,1.7,0.3,3.2,1,4.6c0.6,1.2,1.5,2.3,2.6,3.2c1.9,1.6,4.6,2.5,7.1,2.5
													c3.4,0,6.2-1.1,8.3-3.2c1.9-1.9,2.9-4.4,2.9-7.1c0-1.6-0.3-3.2-0.7-4.5c-0.2-0.7-0.4-1.1-0.7-1.6c-1-2-2.5-3.4-4.5-4.3
													C31.4,18.8,29.6,18.5,27.5,18.5l-0.1-0.2L27.5,18.5z M27.5,16.9c2.3,0,4.3,0.4,6.1,1.2c1.6,0.7,2.9,1.7,4,3
													c0.7,0.8,1.2,1.7,1.6,2.8l0.2,0.4l7.5,0l4.9,0l0-0.7c-0.1-5.7-0.2-10.8-0.2-12.2l0-0.6c0-1.6-0.1-2.6-0.2-3.4s-0.4-1.4-0.8-1.8
													c-0.2-0.3-0.5-0.5-0.8-0.7c-0.5-0.3-1.1-0.5-1.9-0.6c-1-0.2-2.3-0.3-4.1-0.3l-3.1,0c-4.9,0-8.2-0.1-10.5-0.1c0,0-3.9-0.2-4.2-0.2
													l-8.8,0c-2.6,0-5.2,0-7.6,0.1C7.6,3.9,6.2,4.3,5.1,5.1C4.3,5.7,3.7,6.5,3.3,7.8c-0.2,0.7-0.4,1.6-0.5,2.6
													c-0.1,1.3-0.1,2.7-0.1,4.2v9l0.6,0c5,0.2,8.8,0.2,12.8,0.2h0.4l0.2-0.4c0.5-1.1,1.2-2.2,2-3C20.8,18.2,23.9,16.9,27.5,16.9
													L27.5,16.9z" />
							  </g>
							  <g>
								<path class="st1" style="stroke-width: 2;" d="M27.8,36.3c-1.2,0-2.4-0.3-3.5-0.9c-0.8-0.5-2-1.3-2.7-2.8c-0.4-0.9-0.7-1.9-0.7-3c0-2.1,0.6-4,1.8-5.3
													c1.2-1.3,2.9-2,4.9-2c1.3,0,2.5,0.2,3.4,0.6c0.9,0.4,1.6,1,2.2,1.7c1.3,1.6,1.6,3.5,1.6,4.8c0,1.8-0.7,3.4-1.9,4.7
													C31.7,35.6,29.9,36.3,27.8,36.3L27.8,36.3z M27.6,23.9c-1.6,0-2.8,0.5-3.8,1.5c-0.9,1-1.4,2.5-1.4,4.2c0,0.9,0.2,1.6,0.5,2.3
													c0.3,0.6,0.7,1.1,1.3,1.6c0.9,0.8,2.3,1.2,3.5,1.2c1.7,0,3.1-0.5,4.1-1.6c0.9-0.9,1.4-2.2,1.4-3.5c0-1.2-0.2-2.2-0.7-3.1
													c-0.5-1-1.2-1.7-2.2-2.1C29.6,24.1,28.7,23.9,27.6,23.9L27.6,23.9z" />
							  </g>
							  <g>
								<path class="st0" style="stroke-width: 2;" d="M38.1,17.3c-0.4,0-0.8-0.3-0.8-0.7L37.1,9l0.1-0.4l0.4-0.3c2.6,0,6.3-0.2,8-0.3l0.9,0c0.2,0,0.4,0.1,0.6,0.2
													c0.2,0.1,0.2,0.4,0.2,0.6v7.8c0,0.4-0.3,0.8-0.8,0.8L38.1,17.3z M45,9.6c-1.5,0.1-3.8,0.1-5.7,0.2l-0.7,0l0.2,6l6.8,0V9.5L45,9.6z
													" />
							  </g>
							</g>
						  </svg>
						  <svg class="instagram-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-5 1 54.5 55" style="enable-background:new -5 1 54.5 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<g>
							  <path class="st0" d="M31.7,27c-0.2-0.6-0.4-1-0.6-1.4c-0.9-1.8-2.2-3-3.9-3.8c-1.3-0.6-2.9-0.9-4.7-0.9l-0.2-0.2l0.1,0.2
												c-2.8,0-5,0.9-6.6,2.7c-1.6,1.8-2.5,4.3-2.5,7.3c0,1.5,0.3,2.8,0.9,4c0.5,1.1,1.3,2,2.2,2.8c1.7,1.4,4,2.2,6.2,2.2
												c2.9,0,5.4-1,7.2-2.8c1.6-1.6,2.5-3.9,2.5-6.2C32.3,29.5,32.1,28.2,31.7,27z M27.9,35.3c-1.3,1.3-3.1,2-5.2,2h0
												c-1.2,0-2.4-0.3-3.4-0.9c-0.8-0.5-2-1.3-2.7-2.8c-0.4-0.9-0.7-1.9-0.7-2.9c0-2.1,0.6-3.9,1.8-5.2c1.2-1.3,2.9-2,4.8-2
												c1.3,0,2.4,0.2,3.4,0.6c0.9,0.4,1.6,1,2.2,1.7c1.3,1.6,1.6,3.5,1.6,4.8C29.7,32.5,29.1,34.1,27.9,35.3z" />
							  <path class="st0" d="M25.3,25.6c-0.8-0.3-1.7-0.5-2.7-0.5h0c-1.6,0-2.8,0.5-3.8,1.5c-0.9,1-1.4,2.5-1.4,4.2c0,0.8,0.2,1.6,0.5,2.3
												c0.3,0.6,0.7,1.1,1.3,1.6c0.9,0.8,2.3,1.2,3.5,1.2c1.7,0,3.1-0.5,4.1-1.6c0.9-0.9,1.4-2.2,1.4-3.5c0-1.1-0.2-2.2-0.7-3.1
												C27,26.7,26.3,26,25.3,25.6z" />
							  <path class="st0" d="M33.7,31c0,2.7-1,5.2-2.9,7.1c-2,2.1-4.9,3.2-8.2,3.2c-2.5,0-5.1-0.9-7.1-2.5c-1.1-0.9-2-2-2.6-3.2
												c-0.7-1.4-1-2.9-1-4.6c0-1.6,0.2-3.1,0.7-4.4H-3.9v14l0,3.5c0,1.4,0,2.9,0.2,4.4c0.2,1.2,0.4,2.6,1.1,3.8c0.5,0.8,1,1.4,1.7,1.9
												C0,55,1,55.4,2.3,55.7C3.6,56,4.9,56,5.8,56c0.7,0,3-0.1,3.8-0.1c0.1,0,3.1,0,3.1,0c3.4,0,7.5-0.1,11.7-0.1
												c4.7-0.1,9.7-0.1,14.4-0.1c2.2,0,3.7-0.2,4.9-0.5c1-0.3,1.8-0.7,2.4-1.2c0.5-0.4,0.8-0.9,1.1-1.5c0.4-0.8,0.6-1.7,0.8-2.9
												c0.2-1.2,0.2-2.4,0.3-3.9c0-0.5-0.2-13.3-0.3-18.9H33C33.4,28,33.7,29.5,33.7,31z" />
							  <path class="st0" d="M34.2,10.9l-0.7,0l0.2,6l6.8,0v-6.2l-0.7,0C38.5,10.8,36.2,10.9,34.2,10.9z" />
							  <path class="st0" d="M48.1,24c-0.1-5.4-0.2-10.1-0.2-11.6l0-0.6c0-1.7-0.1-2.9-0.4-3.9c-0.2-0.8-0.6-1.5-1-2.1
												c-0.4-0.4-0.8-0.8-1.3-1.1c-0.7-0.4-1.6-0.7-2.8-0.8c-1.1-0.2-2.3-0.2-4.1-0.2l-2.8,0c-4.9,0-8.2-0.1-10.4-0.1l-2.4-0.1
												c-0.8,0-1.4-0.1-1.9-0.1l-8.7,0c-2.6,0-5.2,0-7.7,0.2C2.4,3.6,0.9,4-0.3,4.7c-0.9,0.5-1.6,1.2-2.1,2C-3.1,7.9-3.5,9.2-3.7,11
												c-0.2,1.5-0.2,3.1-0.2,4.9v9.2h17.1c0.4-0.9,0.9-1.7,1.6-2.4c1.9-2,4.4-3.1,7.6-3.1l-0.1-0.2l0.2,0.2c2,0,3.8,0.3,5.3,1
												c2,0.9,3.5,2.3,4.5,4.3c0,0,0,0.1,0.1,0.1h15.7C48.1,24.4,48.1,24,48.1,24z M42.1,17.7c0,0.4-0.3,0.8-0.8,0.8l-8.4,0
												c-0.4,0-0.8-0.3-0.8-0.7L32,10.2l0.1-0.4l0.4-0.3c2.5,0,6.3-0.2,7.9-0.3l0.9,0c0.2,0,0.4,0.1,0.6,0.2c0.2,0.1,0.2,0.4,0.2,0.6V17.7
												z" />
							  <path class="st0" d="M34.2,10.9l-0.7,0l0.2,6l6.8,0v-6.2l-0.7,0C38.5,10.8,36.2,10.9,34.2,10.9z" />
							</g>
						  </svg>
						</a>
						<a class=" pinterest-icon " href="https://www.pinterest.com/ShopBachmans/" target="_blank">
						  <svg class="pinterest-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57.2 55" style="enable-background:new 0 0 57.2 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: none;
								stroke: #FFFFFF;
								stroke-width: 0.5;
								stroke-miterlimit: 10;
							  }

							</style>
							<g>
							  <path class="st1" style="stroke-width: 3;" d="M18.1,52.2C8.8,48,2.2,38.7,2.2,27.8c0-14.7,11.9-26.6,26.5-26.6s26.5,11.9,26.5,26.6S43.4,54.4,28.8,54.4
												c-2.6,0-5.1-0.4-7.5-1.1L18.1,52.2z M21.2,53.3l5.5-28.6c0,0-2.7,8.2-0.8,13.2l0.3,1.1c0.8,1.5,3.1,2.8,5.5,2.8
												c7.3,0,12.2-6.6,12.2-15.5c0-6.7-5.7-13-14.3-13c-10.7,0-16.1,7.7-16.1,14.1c0,3.9,1.5,7.4,4.6,8.7" />
							</g>
						  </svg>
						  <svg class="pinterest-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3 1 57.2 55" style="enable-background:new -3 1 57.2 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<path class="st0" d="M25.7,2.4c-14.8,0-26.8,12-26.8,26.8c0,11,6.6,20.4,16.1,24.6l2.4,0.8l4.1-21.2c0.3-3.9,1.4-7.4,1.5-7.6
											l1.6,0.4L23,33.5c-0.1,1.9,0,3.9,0.6,5.6l0.3,1.2c0.5,1,2.5,2.3,4.8,2.3c6.8,0,11.5-6.1,11.5-14.8c0-6-5.1-12.2-13.6-12.2
											c-10.7,0-15.4,7.9-15.4,13.4c0,3.9,1.6,6.9,4.2,8l-0.6,1.5c-3.2-1.3-5.2-4.9-5.2-9.5c0-7.4,6.4-15.1,17.1-15.1
											c9.6,0,15.3,7.1,15.3,13.9c0,9.5-5.5,16.5-13.1,16.5c-2.6,0-5.3-1.4-6.3-3.3L22,39.6c0-0.1-0.1-0.3-0.1-0.4l-3,15.8L18,54.9
											c2.4,0.7,5,1.1,7.6,1.1c14.8,0,26.8-12,26.8-26.8C52.5,14.4,40.5,2.4,25.7,2.4z" />
						  </svg>
						</a>
						<a class="blogger-icon " href="https://www.blogger.com" target="_blank">
							<svg class="blogger-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">
							<style type="text/css">
								.stw{fill:#fff;stroke: #fff;}
							</style>
							<g>
								<g>
									<path class="stw" d="M11.2,32.2c-5.3,0-9.6-4.5-9.6-10.1V10.9c0-5.6,4.3-10.1,9.6-10.1h6.4c2.6,0.3,6.2,2.5,7.5,5.5l0.1,0.3
										c0.3,0.7,0.5,1.1,0.7,3.1c0.2,1.3,0.3,1.8,0.4,2.1l0.2,0.3l0.2,0.1c0.3,0.1,0.8,0.1,1.4,0.2l0.4,0c0.2,0,0.5,0,0.7,0
										c0.3,0,0.7,0.1,1,0.2c0.1,0,0.2,0.1,0.3,0.2l0.4,0.3c0.1,0,0.1,0.1,0.1,0.2l0.2,0.5l0,0.1l0.1,0.4l0,0.1l-0.1,7.7
										c0,5.6-4.3,10.1-9.6,10.1H11.2z M11.2,1.8c-4.8,0-8.6,4.1-8.6,9.1v11.2c0,5,3.9,9.1,8.6,9.1h10.5c4.7,0,8.6-4.1,8.6-9.1l0.1-7.7
										l-0.1-0.3l-0.2-0.4l-0.3-0.3l-0.2-0.1c-0.2,0-0.6,0-1.1-0.1l-0.4,0c-0.6,0-1.6-0.1-2.2-0.5l-0.1-0.1c-0.6-0.6-0.7-1.6-0.8-2.5
										l0-0.4c-0.2-1.9-0.4-2.3-0.6-2.8l-0.1-0.3c-1-2.3-3.7-4.2-5.8-4.8l-0.8-0.2L11.2,1.8z"/>
								</g>
								<g>
									<path class="stw" d="M12.2,24.3c-1.2,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3h10.3c1.2,0,2.2,1,2.2,2.3c0,1.3-1,2.3-2.2,2.3H12.2z
										 M12.2,20.6c-0.7,0-1.3,0.6-1.3,1.3c0,0.7,0.6,1.3,1.3,1.3h10.3c0.7,0,1.2-0.6,1.2-1.3c0-0.7-0.6-1.3-1.2-1.3H12.2z"/>
								</g>
								<g>
									<path class="stw" d="M12.2,13.3c-1.2,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3h5.1c1.2,0,2.2,1,2.2,2.3c0,1.3-1,2.3-2.2,2.3H12.2z
										 M12.2,9.7c-0.7,0-1.3,0.6-1.3,1.3c0,0.7,0.6,1.3,1.3,1.3h5.1c0.7,0,1.2-0.6,1.2-1.3c0-0.7-0.6-1.3-1.2-1.3H12.2z"/>
								</g>
							</g>
							</svg>
						  <svg class="pinterest-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3 1 57.2 55" style="enable-background:new -3 1 57.2 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<path class="st0" d="M25.7,2.4c-14.8,0-26.8,12-26.8,26.8c0,11,6.6,20.4,16.1,24.6l2.4,0.8l4.1-21.2c0.3-3.9,1.4-7.4,1.5-7.6
											l1.6,0.4L23,33.5c-0.1,1.9,0,3.9,0.6,5.6l0.3,1.2c0.5,1,2.5,2.3,4.8,2.3c6.8,0,11.5-6.1,11.5-14.8c0-6-5.1-12.2-13.6-12.2
											c-10.7,0-15.4,7.9-15.4,13.4c0,3.9,1.6,6.9,4.2,8l-0.6,1.5c-3.2-1.3-5.2-4.9-5.2-9.5c0-7.4,6.4-15.1,17.1-15.1
											c9.6,0,15.3,7.1,15.3,13.9c0,9.5-5.5,16.5-13.1,16.5c-2.6,0-5.3-1.4-6.3-3.3L22,39.6c0-0.1-0.1-0.3-0.1-0.4l-3,15.8L18,54.9
											c2.4,0.7,5,1.1,7.6,1.1c14.8,0,26.8-12,26.8-26.8C52.5,14.4,40.5,2.4,25.7,2.4z" />
						  </svg>
						</a>
						<a class="houzz-icon" href="http://www.houzz.com/pro/shopbachmans/bachmans-floral-home-and-garden" target="_blank">
							<svg class="houzz-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:#fff;stroke: #fff;}
							</style>
							<g>
								<g>
									<g>
										<g>
											<path class="stw" d="M7.9,6.1l9.7-5.4v20.8l-9.7,5.4V6.1z M8.6,25.6l8.2-4.6V2L8.6,6.5V25.6z"/>
										</g>
									</g>
									<g>
										<g>
											<path class="stw" d="M16.8,11.2l9.7-5.5v21.1l-9.7,5.5V11.2z M17.6,31l8.2-4.6V7l-8.2,4.6V31z"/>
										</g>
									</g>
									<g>
										<g>
											<path class="stw" d="M7.9,16.4l9.2-5.4l9.2,5.4l-9.2,5.4L7.9,16.4z M17.2,20.9l7.7-4.5l-7.7-4.5l-7.7,4.5L17.2,20.9z"/>
										</g>
									</g>
								</g>
							</g>
							</svg>
						  <svg class="pinterest-svg-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3 1 57.2 55" style="enable-background:new -3 1 57.2 55;" xml:space="preserve">
							<style type="text/css">
							  .st0 {
								fill: #FFFFFF;
							  }

							</style>
							<path class="st0" d="M25.7,2.4c-14.8,0-26.8,12-26.8,26.8c0,11,6.6,20.4,16.1,24.6l2.4,0.8l4.1-21.2c0.3-3.9,1.4-7.4,1.5-7.6
											l1.6,0.4L23,33.5c-0.1,1.9,0,3.9,0.6,5.6l0.3,1.2c0.5,1,2.5,2.3,4.8,2.3c6.8,0,11.5-6.1,11.5-14.8c0-6-5.1-12.2-13.6-12.2
											c-10.7,0-15.4,7.9-15.4,13.4c0,3.9,1.6,6.9,4.2,8l-0.6,1.5c-3.2-1.3-5.2-4.9-5.2-9.5c0-7.4,6.4-15.1,17.1-15.1
											c9.6,0,15.3,7.1,15.3,13.9c0,9.5-5.5,16.5-13.1,16.5c-2.6,0-5.3-1.4-6.3-3.3L22,39.6c0-0.1-0.1-0.3-0.1-0.4l-3,15.8L18,54.9
											c2.4,0.7,5,1.1,7.6,1.1c14.8,0,26.8-12,26.8-26.8C52.5,14.4,40.5,2.4,25.7,2.4z" />
						  </svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="contact col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-desktop">
				<div class="contact-details-category col-md-12 ">
				<div class="footerBlkDiv">
				  <p>Bachman’s Products</p>
				  <!-- <ul>
								<li>Occasions & Holidays</li>
								<li>Specialty Baskets & Flowers</li>
								<li>Indoor Plants</li>
								<li>Plants, Trees & Shrubs</li>
								<li>Gardening & Lawn Care</li>
								<li>Outdoor Living & Decor</li>
								<li>Gift & Home</li>
								<li>Gift Cards</li>
							</ul> -->
				  <ul class="footer_cat ">
					<li ng-repeat="categories in base.tree" class="sub-nav ">
					  <a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
					</li>
				  </ul>
				</div>
				<div ng-repeat="list in base.footerlinks" class="footerBlkDiv">
					<p>{{list.title}}</p>
					<ul>
						<li ng-repeat="link in list.links"><a ui-sref="{{link.url}}">{{link.label}}</a></li>
					</ul>
				</div>
		
				
			</div>		
		</div>
		<div class="contact col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-mobile">
		  <div class="contact-details-category col-md-12 ">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 bachman-pdts">
				<uib-accordion>
					<uib-accordion-group is-open="status.open1">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open1, 'footer-plus': !status.open1}">Bachman’s Products</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li ng-repeat="categories in base.tree" class="sub-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
							</li>
						</ul>
					</uib-accordion-group>
					<uib-accordion-group is-open="status.open2">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open2, 'footer-plus': !status.open2}">Workshops & Events</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Design Workshops</a></li>
							<li><a>How-To Classes</a></li>
							<li><a>Seminars & Events</a></li>
							<li><a>Ideas House</a></li>
							<li><a>Events Calender</a></li>
						</ul>
					</uib-accordion-group>
					
					<uib-accordion-group is-open="status.open3">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open3, 'footer-plus': !status.open3}">Customer Service</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Contact Us</a></li>
							<li><a>FAQs</a></li>
							<li><a>Store Locator</a></li>
							<li><a>Delivery</a></li>
							<li><a>Gift Cards</a></li>
							<li><a>Purple Perks</a></li>
						</ul>
					</uib-accordion-group>
					<uib-accordion-group is-open="status.open4">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open4, 'footer-plus': !status.open4}">Care, Advice & Information</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Care Guides & Information</a></li>
							<li><a>Plant Zone Map</a></li>
							<li><a>How-Tos</a></li>
							<li><a>Sending Sympathy</a></li>
							<li><a>Ideas House</a></li>
							<li><a>Plant, Tree & Shrub Library</a></li>
						</ul>
					</uib-accordion-group>
						<uib-accordion-group is-open="status.open5">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open5, 'footer-plus': !status.open5}">Corporate</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Bachman’s History</a></li>
							<li><a>Employment</a></li>
							<li><a>Our Partners</a></li>
							<li><a>The Heritage Room</a></li>
							<li><a>Flagship Store Tour</a></li>
						</ul>
					</uib-accordion-group>
					<uib-accordion-group is-open="status.open6">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open6, 'footer-plus': !status.open6}">Services</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li ng-repeat="service in base.services"><a>{{service.title}}</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion>	
			  <!-- <p ng-click="accordion=1">Bachman’s Products</p>

			  <ul ng-show="accordion==1" class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<li ng-repeat="categories in base.tree" class="sub-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  <a ui-sref="category({parentId:categories.ID,childCount:categories.ChildCount,ID:categories.ID})" class="maincat_link">{{categories.Name}}</a>
				</li>
			  </ul> -->
			</div>
		<!-- 	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 wrkshp-events">
				<uib-accordion>
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open, 'footer-plus': !status.open}">Workshops & Events</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Design Workshops</a></li>
							<li><a>How-To Classes</a></li>
							<li><a>Seminars & Events</a></li>
							<li><a>Ideas House</a></li>
							<li><a>Events Calender</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion>	
			  <!-- <p ng-click="accordion=2">Workshops & Events</p>
			  <ul ng-show="accordion==2">
				<li><a>Design Workshops</a></li>
				<li><a>How-To Classes</a></li>
				<li><a>Seminars & Events</a></li>
				<li><a>Ideas House</a></li>
				<li><a>Events Calender</a></li>
			  </ul> 
			</div> -->
			<!-- <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 customer-service">
				<uib-accordion>
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open, 'footer-plus': !status.open}">Customer Service</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Contact Us</a></li>
							<li><a>FAQs</a></li>
							<li><a>Store Locator</a></li>
							<li><a>Delivery</a></li>
							<li><a>Gift Cards</a></li>
							<li><a>Purple Perks</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion>
			 <!--  <p ng-click="accordion=3">Customer Service</p>
			  <ul ng-show="accordion==3">
				<li><a>Contact Us</a></li>
				<li><a>FAQs</a></li>
				<li><a>Store Locator</a></li>
				<li><a>Delivery</a></li>
				<li><a>Gift Cards</a></li>
				<li><a>Purple Perks</a></li>
			  </ul> 
			</div> -->
			<!-- <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 plant-care">
				<uib-accordion>
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open, 'footer-plus': !status.open}">Care, Advice & Information</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Care Guides & Information</a></li>
							<li><a>Plant Zone Map</a></li>
							<li><a>How-Tos</a></li>
							<li><a>Sending Sympathy</a></li>
							<li><a>Ideas House</a></li>
							<li><a>Plant, Tree & Shrub Library</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion> -->
			 <!--  <p ng-click="accordion=4">Care, Advice & Information</p>
			  <ul ng-show="accordion==4">
				<li><a>Care Guides & Information</a></li>
				<li><a>Plant Zone Map</a></li>
				<li><a>How-Tos</a></li>
				<li><a>Sending Sympathy</a></li>
				<li><a>Ideas House</a></li>
				<li><a>Plant, Tree & Shrub Library</a></li>
			  </ul> -->
			<!-- </div> -->

			<!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 corporate">
				<uib-accordion>
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open, 'footer-plus': !status.open}">Corporate</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li><a>Bachman’s History</a></li>
							<li><a>Employment</a></li>
							<li><a>Our Partners</a></li>
							<li><a>The Heritage Room</a></li>
							<li><a>Flagship Store Tour</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion> -->
			  <!-- <p ng-click="accordion=5">Corporate</p>
			  <ul ng-show="accordion==5">
				<li><a>Bachman’s History</a></li>
				<li><a>Employment</a></li>
				<li><a>Our Partners</a></li>
				<li><a>The Heritage Room</a></li>
				<li><a>Flagship Store Tour</a></li>
			  </ul> -->
			<!-- </div> -->
			<!--  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 service">
				<uib-accordion>
					<uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<p ng-class="{'footer-minus': status.open, 'footer-plus': !status.open}">Services</p>
						</uib-accordion-heading>
						<ul class="footer_cat col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<li ng-repeat="service in base.services"><a>{{service.title}}</a></li>
						</ul>
					</uib-accordion-group>
				</uib-accordion> -->
			  <!-- <p ng-click="accordion=6">Services</p>
			  <ul ng-show="accordion==6">
				<li ng-repeat="service in base.services"><a>{{service.title}}</a></li>
			  </ul> -->
		<!-- 	</div> -->
		  </div>
		</div>
		<h5 class="footer-copyrite">© 2016 Bachman's, Inc.</h5>
	</div>
	<div class="m0 service-list" style="margin:0;">
		<div>
			<h5 ng-repeat="service in base.services"><a>{{service.title}}</a></h5> 
		</div>
	</div>
  </div>
